[2014-11-04 17:59] Aeva opened #538 "CC0 tool outputs bad metadata"
The author name should be dct:creator, not dct:title.

This is the output of the tool currently:

[code]

Also, to be more consistent with the normal chooser, the 'xmlns:dct="http://purl.org/dc/terms/"' attribute should just appear on every element that uses dct properties, so as to prevent the end user from breaking the metadata so easily if they decide they want a div instead of a paragraph elem

[2015-07-27 16:27] sarahpearson opened #492 "change the chooser so it links to license translation in same language as chooser"
Right now, when you view the license chooser page in a language like Finnish for which we have an official translation, the chooser still links to the English version of the license.

Is it possible to change that so it links to the official translation in that same language? This is not a super high-priority, but seems like something we should eventually fix if we can.

[2016-01-25 18:08] chpapa opened #535 "Request for accounts / instruction to translate terms for zh_HK"
Hi this is Ben from Creative Commons Hong Kong here. We have noticed that the license chooser for zh_HK translation is not available on the website and we would like to work on the translation so we have  > 80% translated terms on https://www.transifex.com/nkinkade/CC/ again.

We have a volunteer able to work on it and would you mind to send us the instruction / access information? My email is chp

[2017-06-16 21:22] rheaplex opened #536 "Chooser Markup Buttons As Inline SVG"
https://twitter.com/SterbalRobert/status/875789371294846976

COnsider making chooser images optionally available as inline SVG or PNG.

Disadvantages: much larger html+rdfa to copy and paste.

Advantages: slightly improved security.

This wouldn't affect making the buttons active, as that would be a separate script addition to the markup.

Ideally people wouldn't copy and paste anything manually,

[2018-04-02 00:27] Chealer opened #537 ""Copy this code [...]" boxes: Actual selection may differ from previewed selection"
If I go to https://creativecommons.org/choose/?lang=en and try selecting - for example - a URL in the "Copy this code to let your visitors know!" textarea, the previewed selection matches the fragment I'm trying to select, but when I release the primary mouse button, it turns out the actual selection is the whole textarea's content.

In report creativecommons/creativecommons.org#681, Rob Myers sta

[2019-03-26 04:45] kgodey opened #494 "Use HTTPS links for the license chooser"
**Feedback through info@**
In the license selection page [[Choose a License](https://creativecommons.org/choose/)] where it spits out html metadata, can you modify it so that it generates the links in https (it currently gives http, but changing that to https doesn't break anything)?

<img width="495" alt="Screen Shot 2020-10-21 at 09 16 11" src="https://user-images.githubusercontent.com/691322/96

[2019-05-27 23:37] akmadian opened #1 "Decide on a license"

[2019-05-27 23:39] akmadian commented on #1
I'd be alright with MIT, thoughts? @janeatcc

[2019-05-27 23:46] akmadian opened #2 "Build/ aggregate graphical assets, color pallets, paragraphs, fonts, etc."

[2019-05-27 23:47] akmadian commented on #2
Some assets can be found in the CC search source

[2019-05-28 15:15] kgodey commented on #1
We use MIT by default unless there's a compelling reason to use another license so I'm good with it.

[2019-05-28 16:23] #1 closed

[2019-05-29 17:17] akmadian opened #5 "Write list of questions for usability testing"

[2019-05-29 17:19] akmadian commented on #5
Here's the link to the doc in case anyone wants to comment: https://docs.google.com/document/d/1AZLATltfmuRmSh5LA7LEE1HyYI7AoEt6vCtAgvOFREM/edit?usp=sharing

[2019-06-01 22:22] #2 closed

[2019-06-03 01:05] #5 closed

[2019-06-04 00:01] akmadian opened #7 "Week 2 - Work on layout"
Here's a running layout, please feel free to comment! https://www.figma.com/file/eCoFZqcWtWdmC2ONG7SOz7LP/cc-chooser?node-id=1%3A2

[2019-06-10 14:32] #7 closed

[2019-06-23 08:16] akmadian opened #12 "SA Checkbox Unresponsive to Styling, Check Missing"
**Describe the bug**
There is a check box on the page for toggling SA. The checkbox background is currently a light green color, and the check icon is missing. This checkbox is not responsive to even inline styling.

**Expected behavior**
The checkbox should be the normal CC orange (same color as the switch to the left), and the check icon should be showing.

**Screenshots**
![Broken sa-check](htt

[2019-07-01 22:33] akmadian opened #15 "[BRENO] generated license icons: Make largest size possible (up to a point; 60px (?)) with margins, without break"

[2019-07-01 22:33] akmadian opened #16 "[BRENO] Updated icon descriptions"
figure out how to layer technical icon name and usable icon name without messed up breaks and margins

[2019-07-01 22:34] akmadian opened #17 "[BRENO] generated license icons"
Make side margins half of remaining span width based on icons size

[2019-07-01 22:39] akmadian commented on #17
![Capture](https://user-images.githubusercontent.com/28791774/60470643-0e9e9c00-9c16-11e9-94f3-69a044c78d67.PNG)
For example, I want to get the margins on the left and right to be equal widths, that's why the margin widths are marked as `m`. I want the total width of both of the margins on the sides of the icons to be half of the span width, that is not covered by the icons.

[2019-07-01 22:45] akmadian commented on #15
![Capture](https://user-images.githubusercontent.com/28791774/60470863-ebc0b780-9c16-11e9-98e2-88694da52870.PNG)
When a license that has more than three icons is selected, the icons break onto a new line. I'm trying to get them to decrease in width to be as large as possible without breaking onto a new line. I also want to have some small-medium margins on the left and right side.

[2019-07-01 23:46] #17 closed

[2019-07-01 23:47] #15 closed

[2019-07-01 23:54] akmadian commented on #16
![Capture](https://user-images.githubusercontent.com/28791774/60470782-a2706800-9c16-11e9-88f4-c390ba7f9382.PNG)
I'm trying to get the full license name (Attribution 4.0 International), and the short name to fit on the same line. This means getting the font size as large as possinble

[2019-07-01 23:54] #16 closed

[2019-07-03 04:54] akmadian commented on #12
Possibly related to this issue, where the X icon in the top right of modal bodies is not showing. The close button still works, but the icon doesn't show.

![missing-modal-check](https://user-images.githubusercontent.com/28791774/60564160-843c6200-9d13-11e9-996a-442c6a47f9f5.PNG)

[2019-07-15 23:49] akmadian opened #21 "Modals have no Margins on Mobile and Tablet Breakpoints"
**Describe the bug**
There are no left or right margins on mobile and tablet breakpoints when using Bulma modals.

This issue is already known and being tracked: https://github.com/jgthms/bulma/issues/2387, there is (sort of) a fix, but it's hacky and not ideal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected be

[2019-07-18 06:08] akmadian commented on #21
Maybe able to override the `flex-direction` property with other CSS class or inline?

[2019-07-26 06:23] akmadian commented on #21
This will be fixed by using the Buefy modal component

[2019-08-20 17:39] akmadian commented on #12
Closing because we've decided to not use the switches, and would be fixed in vue refactor anyways :)

[2019-08-20 17:40] #12 closed

[2019-08-27 04:05] akmadian opened #25 "No Tests Written... yet!"
Currently, there are no tests written for the chooser. This issue is to track discussion related to implementing tests.

[2019-08-27 17:21] akmadian opened #26 "SA IconSelector value resets on hide, but chooser is not updated"
**Describe the bug**
The SA IconSelector works, except for when it is toggled with the ND IconSelector. At this point, the component's state resets to default, but the change is not emitted to the parent Chooser component.

This can be temporarily solved by removing the conditional rendering from the sa IconSelector component, but it's not ideal, and not a permanent fix.

**To Reproduce**
Steps to

[2019-08-27 17:31] akmadian opened #27 "Footer Component Not Rendering"
**Describe the bug**
The footer component is not rendering

**To Reproduce**
Steps to reproduce the behavior:
1. Go to site
2. Scroll to bottom of page
3. See that footer is not rendering

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro 1809 17763.678
 - Browser: Chrome 76.0.3809.100 64-Bit

**Additional context**
In console, two errors are shown:
[code]
and
[code]

[2019-08-27 18:58] akmadian opened #28 "Chooser Beta Deployment"
This is a ticket to track discussion about a beta deployment of the new chooser!

[2019-09-03 08:09] dhruvkb commented on #27
The function `$t` for translations is injected by the package [`vue-i18n`](https://kazupon.github.io/vue-i18n/). `@creativecommons/vocabulary` has a peer dependency on Vue i18n, which is unmet, causing this error.

[2019-09-03 08:58] dhruvkb opened #31 "Vocabulary styles being overriden by custom styling"
Due to issues with specificity, styling provided by CC Vocabulary is being overriden by styling from other third-party libraries and custom written CSS, leading to a different UI than what is expected. This is causing components to look broken or erratically styled.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out the branch from PR #30
1. Run the development server

**Expected beha

[2019-09-04 22:16] akmadian commented on #28
Building is done with `$ npm run build`, the bundle is output to the `./dist` dir :)

[2019-09-04 22:18] #27 closed

[2019-09-05 02:00] #28 closed

[2019-09-05 23:25] akmadian opened #32 "Changes to NC IconSelector not updating LicenseDescription when ND is selected"
**Describe the bug**
When the ND IconSelector is selected, the NC IconSelector properly updates the selected license, but not the LicenseDescription

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chooser-beta.creativecommons.org/
2. Click on ND icon selector
3. See IconDescription update
4. Click on NC icon selector
5. See IconDescription not update

**Expected behavior**
The

[2019-09-19 11:35] akmadian opened #33 "Write tests for Chooser component"
**Describe the solution you'd like**
Unit tests need to be written for the [Chooser components](https://github.com/creativecommons/cc-chooser/tree/master/src/components). Add them to this directory [here](https://github.com/creativecommons/cc-chooser/tree/master/test/unit/specs/components)

The frameworks being used are [Jest](https://jestjs.io/) and [Vue Test Utils](https://vue-test-utils.vuejs.o

[2019-09-19 11:37] akmadian opened #34 "Write tests for CopyButton component"
**Describe the solution you'd like**
e2e and unit tests need to be written for the CopyButton.vue component (`./src/components/CopyButton.vue`). Please write e2e tests in a new file named CopyButton.js in `./test/e2e/specs/`, and unit tests in a new file named CopyButton.specs.js in `./test/unit/specs/`.

The frameworks being used are (Jest)[https://jestjs.io/] for unit testing, and the (nightwatc

[2019-09-19 11:38] akmadian opened #35 "Write tests for HelpSection component"
**Describe the solution you'd like**
e2e and unit tests need to be written for the HelpSection.vue component (`./src/components/HelpSection.vue`). Please write e2e tests in a new file named HelpSection.js in `./test/e2e/specs/`, and unit tests in a new file named HelpSection.specs.js in `./test/unit/specs/`.

The frameworks being used are (Jest)[https://jestjs.io/] for unit testing, and the (night

[2019-09-19 11:39] akmadian opened #36 "Write tests for HTMLGenerator component"
**Describe the solution you'd like**
e2e and unit tests need to be written for the HTMLGenerator.vue component (`./src/components/HTMLGenerator.vue`). Please write e2e tests in a new file named HTMLGenerator.js in `./test/e2e/specs/`, and unit tests in a new file named HTMLGenerator.specs.js in `./test/unit/specs/`.

The frameworks being used are (Jest)[https://jestjs.io/] for unit testing, and th

[2019-09-19 11:40] akmadian opened #37 "Write tests for IconSelector component"
**Describe the solution you'd like**
e2e and unit tests need to be written for the IconSelector.vue component (`./src/components/IconSelector.vue`). Please write e2e tests in a new file named IconSelector.js in `./test/e2e/specs/`, and unit tests in a new file named IconSelector.specs.js in `./test/unit/specs/`.

The frameworks being used are (Jest)[https://jestjs.io/] for unit testing, and the (n

[2019-09-19 11:41] akmadian opened #38 "Write tests for LicenseDescription component"
**Describe the solution you'd like**
e2e and unit tests need to be written for the LicenseDescription.vue component (`./src/components/LicenseDescription.vue`). Please write e2e tests in a new file named LicenseDescripion.js in `./test/e2e/specs/`, and unit tests in a new file named LicenseDescription.specs.js in `./test/unit/specs/`.

The frameworks being used are (Jest)[https://jestjs.io/] for u

[2019-09-19 11:42] akmadian opened #39 "Write tests for SelectedLicense component"
**Describe the solution you'd like**
e2e and unit tests need to be written for the SelectedLicense.vue component (`./src/components/SelectedLicense.vue`). Please write e2e tests in a new file named SelectedLicense.js in `./test/e2e/specs/`, and unit tests in a new file named SelectedLicense.specs.js in `./test/unit/specs/`.

The frameworks being used are (Jest)[https://jestjs.io/] for unit testing

[2019-09-19 11:43] #25 closed

[2019-09-19 19:08] #26 closed

[2019-09-19 19:17] #32 closed

[2019-09-19 19:17] akmadian commented on #32
Was all because of a little typo :)

[2019-09-24 20:07] killvung commented on #39
I am interested at the issue, but have some questions regarding to the libraries we used for testing. I looked at the example file `HelloWorld.spec.js`, and learn that the test will mount an actual Vue component then verify the content through querySelector. Thought it's just an example, can we use
the library `vue-test-utils` along with jest snapshot? [Documentation](https://vue-test-utils.vuejs.

[2019-09-25 01:45] akmadian commented on #39
You're all good to start working on this issue! I just pushed some changes, please pull them to your fork before getting started.

RE using vue-testing-utils, I think this should be alright.  However, please make sure to not just test the template, also test that the content (license name(s), the link to the license info, etc. is being tested as well.

Some things to keep in mind:
 - For component

[2019-10-01 19:06] 75pollet commented on #38
hello @akmadian . I would like to work on this issue

[2019-10-01 19:46] HAMZABoxer98 commented on #37
Hi @akmadian, I think I am ready to fix this.

[2019-10-01 19:48] HAMZABoxer98 commented on #37
Hi @akmadian, I think I am ready to fix this.

[2019-10-01 19:53] akmadian commented on #37
Go ahead! Please remember two write both e2e and unit tests :)

[2019-10-01 19:55] akmadian commented on #38
@75pollet go ahead :)

[2019-10-01 20:40] obulat commented on #36
Hi! I am interested in writing this test.

[2019-10-01 21:40] akmadian commented on #36
Hey @obulat, you’re all clear to start working on this issue!

[2019-10-02 00:19] Joranhezon commented on #35
Hi! I'd like to work on this issue.

[2019-10-02 00:53] akmadian commented on #35
Go ahead! @Joranhezon

[2019-10-02 17:50] HAMZABoxer98 commented on #33
I want to work on this @akmadian.

[2019-10-02 18:20] priscilauchoa commented on #34
I'm interested in working on this issues.

[2019-10-03 09:35] deboragaleano commented on #39
Hi @akmadian, I'm an Outreachy applicant and was wondering if this issue has been assigned already. If not, I'b interested in working on it. Thank you!

[2019-10-03 09:51] deboragaleano commented on #31
Hi @akmadian, I'm an Outreachy applicant. I will try to work on this. Thank you!

[2019-10-03 14:47] killvung commented on #39
I only have the discussion about the tools we can use for testing, so I haven't start picking up the issue yet. Feel free to claim it if you wish.

[2019-10-03 15:20] amitkumarrathore commented on #33
Hey i want to work on it @akmadian

[2019-10-03 15:21] HAMZABoxer98 commented on #33
@amitkumarrathore I have a sent a PR for this.

[2019-10-03 15:40] dhruvkb commented on #31
I’m happy to help anywhere Vocabulary usage is involved!

[2019-10-03 15:49] deboragaleano commented on #39
Thanks @killvung, I have just being assigned other issues so I give this back to you :)

[2019-10-03 17:44] akmadian commented on #31
Go ahead! @deboragaleano

[2019-10-03 17:47] akmadian commented on #33
I'm going to assign this to @amitkumarrathore because @HAMZABoxer98 has already submitted a PR for #37. Go ahead and get started, Amit!

[2019-10-03 17:58] #37 closed

[2019-10-03 21:54] onyijne commented on #34
Hi @akmadian I'm an Outreachy Intern applicant, can I work on this?

[2019-10-03 21:56] onyijne commented on #31
Hi @akmadian can I work on this too?

[2019-10-03 22:22] akmadian commented on #34
Sorry, @onyijne, Priscila is already working on this issue :/

[2019-10-03 22:24] akmadian commented on #31
Sorry, @onyijne, this issue is already being worked on by someone else. Keep checking back on the repository cause I'll be adding more issues soonish. Any issue with the `in progress` tag is already being worked on by someone else.

[2019-10-03 22:44] onyijne commented on #31
Okay @akmadian I understand how it works now, thanks.

[2019-10-04 03:49] amitkumarrathore commented on #33
I am totally new here. how can i fix them @akmadian

[2019-10-04 18:39] deboragaleano commented on #31
So sorry but I won't be able to work on this issue in the end. I believe @onyijne can take it now :) Thank you!

[2019-10-04 19:04] onyijne commented on #31
It's okay @deboragaleano, @akmadian can I go ahead?

[2019-10-04 22:33] akmadian commented on #31
Yep, go ahead @onyijne :)

[2019-10-07 12:53] onyijne commented on #31
@dhruvkb please how can I access the @creativecommons/vocabulary dir. can't seem to locate it.
![Opera Snapshot_2019-10-07_133103_localhost](https://user-images.githubusercontent.com/6826336/66313057-a0026600-e909-11e9-9e2a-8b108181e1df.png)
This is what I have now, can't find the Footer component to enable me edit the first two parts.

[2019-10-08 01:39] #34 closed

[2019-10-08 07:22] onyijne commented on #31
Okay my IDE kinda hid the dir, but how do I effect push change in the vocabulary package since it's in vendors dir?

[2019-10-08 07:41] onyijne commented on #31
Okay my IDE kinda hid the dir, but how do I push changes I'll make in the vocabulary package since it's in node_modules dir?

[2019-10-09 02:22] alexido19 commented on #36
I'm Alexander from Outreachy I'm looking for a first timers issue here

[2019-10-09 07:31] akmadian commented on #36
@alexido19 All of the issues in this repo are already being worked on by others. Please look for other issues marked with the `help wanted`, `good first issue`, and/or `outreachy` tags in other CC repos. Issues with the yellow `in progress` tag are already claimed and are not up for grabs.

[2019-10-09 07:34] akmadian commented on #31
Either make a pull request to the cc-vocabulary repo with your changes (make sure they don't break anything else in vocabulary), or make changes to the CSS in components that need attention in the cc-chooser source (this option is far better in my opinion). For the footer, your CSS mods should be in the App.vue parent component.

[2019-10-09 07:45] onyijne commented on #31
@akmadian I might have to make a pull request to the  cc-vocabulary repo as the footer requires more than CSS, the wording and logo needs modification. However, if you do not recommend making a pull request to  cc-vocabulary repo, and would permit me to I can use DOM manipulation to effect the changes.

[2019-10-09 12:21] akmadian commented on #31
I was saying that (maybe I could have been more clear), chances are that there's some CSS within the chooser that's causing issues with vocab components, and that it's better to find the problematic CSS and fix it instead of modifying vocabulary in node_modules.

Although, it sounds like you may have found a deeper issue with vocabulary. So, if you've got a fix for that issue, and it happens to al

[2019-10-09 12:22] akmadian commented on #33
Hey @amitkumarrathore, sorry it took so long for me to get back to you. I'll defer you to @brenoferreira, he'll help out :)

[2019-10-09 13:18] onyijne commented on #31
I

Looking at the contents on the images for broken and that of expected, they are different. This is what I was actually referring to, and intended to harmonize.
![Opera Snapshot_2019-10-07_133103_localhost](https://user-images.githubusercontent.com/6826336/66484742-809d4180-ea9f-11e9-9dc6-e7b4aed7d727.png)
This is what I have done so far

[2019-10-09 13:33] brenoferreira commented on #33
For those interested in helping, I'd recommend taking a look at the following:

* The Vue Test Utils Getting Started Guide: https://vue-test-utils.vuejs.org/guides/#getting-started
* The code of some of the existing tests [here](https://github.com/creativecommons/cc-chooser/tree/master/test/unit/specs/components)
* You can also see some of the tests available in the CC Search frontend [here](https

[2019-10-09 18:10] akmadian commented on #31
Ah, I see where the confusion is. The content of the footer is not supposed to exactly match the expected footer. The links above the locale selector are meant to be customizable, along with other parts of the footer component. The only real CSS bug I saw in the footer was the weird padding/ alignment of elements in the local selector.
I’ll give some feedback on content in the PR thread.

<sub>Sen

[2019-10-09 18:29] onyijne commented on #31
Okay, for the weird padding of the local selector, I think I have fixed
that. So I'll just remove WIP if that's all that's needed for now, while I
wait for the feedback you'll get from the PR thread.

On Wed, 9 Oct 2019, 19:10 Ari Madian, <notifications@github.com> wrote:

[2019-10-11 21:53] #31 closed

[2019-10-12 18:34] akmadian commented on #39
Hey @killvung, I'm going to free this issue up for others to take a shot at since It's been a while since you've posted in this thread, and there's no activity on your fork of the repo.

[2019-10-12 18:37] akmadian commented on #33
Hey @amitkumarrathore, this is a heads up that I may free up this issue so others can have a shot if you don't show signs that you're working on this issue in the next 4-5 days.

[2019-10-14 11:43] obulat commented on #39
Hi, @akmadian, can I take up this issue as well?
I'm also an Outreachy applicant, by the way.

[2019-10-14 15:29] akmadian commented on #39
@obulat, I’m going to say no for now to try and give someone else a shot at an issue in the repo since you’ve already done one

[2019-10-14 15:29] #36 closed

[2019-10-14 18:07] DevchamploO commented on #39
Hey @akmadian, I am an Outreachy applicant. Has this issue been assigned, I would like to work on it if available?

[2019-10-14 20:10] akmadian commented on #39
@DevchamploO go ahead :)

[2019-10-14 21:19] DevchamploO commented on #39
Thanks, I'll get started!

[2019-10-16 13:42] khansaAmrouni commented on #33
Hi! I am an outreachy applicant! is it possible to contribute by fixing this issue

[2019-10-16 22:13] #38 closed

[2019-10-16 22:13] akmadian commented on #33
Go ahead, @khansaAmrouni!

[2019-10-16 22:19] #35 closed

[2019-10-23 03:25] akmadian commented on #39
Hey @DevchamploO, if I don't see any indication of progress on this issue in the next two days, I'll have to free up the issue so that someone else can work on it.

[2019-10-23 03:26] akmadian commented on #33
Hey @khansaAmrouni, if I don't see any progress on this issue in the next two days, I'll have to free it up for someone else to work on it.

[2019-10-23 10:59] khansaAmrouni commented on #33
hey!  please free it up, i won't work on this issue, i am sorry

[2019-10-25 16:21] alessandrodolci commented on #33
Hi there, I'd like to work on this, are you fine with it? I'm taking a look at the code right now!

[2019-10-25 20:27] akmadian commented on #33
Yep, go ahead! @alessandrodolci

[2019-10-30 00:12] akmadian opened #51 "Todo for next round of cleanup"
This is a thread of little bits and pieces here and there to be fixed. I will take care of this in my next round of cleanup.

[2019-10-30 00:39] akmadian commented on #51
Add required chrome versions for nightwatch e2e in README testing section. It may be helpful to some to know what the required chrome version(s) are for nightwatch e2e tests to run.

[2019-10-30 00:40] akmadian commented on #51
Rename `./test/TEST.md` to `./test/README.md` so the rendered file will show up on gh.com file explorer.

[2019-10-30 00:41] akmadian commented on #51
Add a bit to the README explaining what the chooser's purpose is

[2019-11-01 20:07] #33 closed

[2019-11-05 04:04] akmadian commented on #39
I'm gonna free this issue up because there have been long periods of inactivity, with the only progress being made when I warned the assignee that I was going to free it up if I didn't see more progress soon.

[2019-11-06 07:34] onyijne commented on #39
@akmadian I have made a contribution during the contribution period, can I also contribute to this?

[2019-11-08 19:37] akmadian commented on #39
Yep, go ahead! @onyijne

[2019-11-08 20:40] akmadian opened #56 "Legal review of text in chooser site"
This is a thread of changes to make to the text in the chooser to ensure that all legal requirements are fulfilled.

[2019-11-08 20:40] akmadian commented on #56
**From Diane**
we don't want to use the word "tweak", in any description of how ND and the non ND licenses work. Wherever that appears, I recommend we change it to "adapt", because ND does in fact allow tweaking just so long as an adaptation/derivative is not made. That's a language change throughout that could be made that isn't controversial.

[2019-11-08 20:51] akmadian commented on #51
Add bit to readme documenting that roadmap is in issues/ launch milestone

[2019-11-08 20:58] akmadian opened #57 "UI Improvements"
Before the launch of the chooser, some improvements to the chooser's UI need to be made. Some ideas of things to do include:
 - Guiding users better - clearer action items
 - Further integration with CC vocabulary
 - Further rounds of usability testing
 - Declutter

[2019-11-08 21:01] akmadian opened #58 "Internationalization"
The chooser needs to be available in languages other than english before it's launched. This translation with be done with [Transifex](https://www.transifex.com/). Transifex integration needs to be coordinated with CC Engineering before it goes live.

[2019-11-08 21:08] akmadian opened #59 "Sentry Error Logging"
[Sentry](https://sentry.io/welcome/) error logging needs to be set up before the site is launched.

[2019-11-08 21:09] akmadian opened #60 "Set up Monitoring"

[2019-11-08 21:13] akmadian commented on #57
Steps component in Buefy, would be good for guiding users through decisions in selection process.
https://buefy.org/documentation/steps

[2019-11-08 21:14] akmadian commented on #60
Also set up Google Analytics

[2019-11-08 21:18] akmadian opened #61 "Feedback Form"
Before the blog post, a Google Form needs to be made to take user feedback about the new chooser. A Vue component will also need to be made for linking to this form.

[2019-11-08 21:20] akmadian opened #62 "Set up Google Analytics"

[2019-11-08 21:22] akmadian commented on #61
Kriti will make form, send me link, and I'll make Vue component.

[2019-11-08 21:27] akmadian commented on #57
I think some more color would be good, too.

[2019-11-09 00:20] #51 closed

[2019-11-09 00:33] akmadian commented on #61
Component and styling done, waiting for form link

[2019-11-09 00:51] kgodey commented on #61
@akmadian I shared the form with you via email.

[2019-11-09 00:58] #61 closed

[2019-11-11 18:17] pokvoja opened #63 "Error: Cannot find module 'webpack-cli/bin/config-yargs'"
**Describe the bug**
When trying to build by running ` npm run dev` the webpack server fails with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repo
2. run npm i
3. run npm run dev

**Expected behavior**
It should build and run a server with the buld

**Desktop (please complete the following information):**
 - OS: 4.15.0-58-generic #64-Ubuntu
 - Node:

[2019-11-11 18:20] pokvoja commented on #63
might be related to:
https://github.com/webpack/webpack-dev-server/issues/2029

[2019-11-11 18:56] onyijne commented on #39
okay will start right away

[2019-11-11 19:07] akmadian commented on #63
Hey @pokvoja, please provide the npm log that was generated. A pastebin link or something similar to that would be best :)

[2019-11-11 19:44] pokvoja commented on #63
sorry if forgot about that!

its small enough for gitlab:

[code]

[2019-11-13 01:13] akmadian commented on #63
Try updating all webpack related packages to their latest versions and try again? Particularly webpack, and webpack-dev-server

[2019-11-13 23:52] akmadian commented on #63
@pokvoja I'm assuming since you've opened a PR, you fixed this issue? If so, what was the solution?

[2019-11-14 13:48] peterspdx commented on #56
@akmadian Is this the private wiki? Just want to double check.

[2019-11-14 16:05] akmadian commented on #56
@peterspdx Nope, this is public

[2019-11-14 18:51] #56 closed

[2019-11-14 19:15] akmadian opened #66 "Review of text in chooser"
A review of all text in the chooser needs to be conducted. Specific changes will be suggested and accepted in this private google doc: https://docs.google.com/document/d/1xtk35AtEZ2bPwD0L_wjDB6QlvzpV1cw_GdSNB0hBTRw/edit?usp=sharing_eil&ts=5dcd9bf0

[2019-11-15 06:27] akmadian opened #67 "Todo for next round of cleanup"
This is a thread of things to do when I go through in my next round of cleanup and small fixes/ changes.

[2019-11-15 06:28] akmadian commented on #67
In footer: change `view this page's source code on github` to `Contribute on GitHub`

[2019-11-15 21:20] akmadian commented on #57
With a more guided approach, we can add CC0 or other PDM licenses to the chooser!

[2019-11-15 22:20] akmadian commented on #66
Will make changes based on today's meeting in my next round of cleanup (#67).

[2019-11-15 22:21] akmadian commented on #67
Update text in chooser based on today's meeting and google doc mentioned in #66

[2019-11-19 23:40] akmadian commented on #67
Add link to contributing in readme for issues marked help wanted

[2019-11-19 23:54] akmadian commented on #67
Remove "legal reviews of site's content" from roadmap in readme

[2019-11-20 04:34] #66 closed

[2019-11-20 04:42] akmadian commented on #39
Hey @onyijne, I haven't seen any progress on this issue in about a week. Please make some more progress in the next couple days, or I will unassign you so others have a chance to contribute.

[2019-11-20 04:45] #67 closed

[2019-11-20 04:46] akmadian commented on #66
Updates were pushed to prod in fc4813d57401784638e23bca8383759bc8d50b0a

[2019-11-21 06:58] onyijne commented on #39
I shall make a push today, been working on a project.
Earlier push was a unit test as perhaps you've seen, will add e2e test
today, then next push will be to finalize both tests. Thanks

On Wed, 20 Nov 2019, 05:42 Ari Madian, <notifications@github.com> wrote:

[2019-11-24 21:28] onyijne commented on #63
Getting the same error, and it appears to be deprecated issues.
Would it be out of place if I suggest we migrate cc-chooser to a vue-cli project?

[2019-12-14 17:38] obulat commented on #63
I can reproduce this issue, and unfortunately, after trying to solve it (by updating everything related to webpack and trying other possible steps) I had to go back to commit https://github.com/creativecommons/cc-chooser/commit/48bd00be7a71651d11c3e83202ddd8fc96d3a701.

[2019-12-18 01:45] akmadian commented on #63
Could not reproduce.
 - OS: Windows 10 Pro 1809 17763.914 64 bit
 - Node: v10.15.3
 - npm: v6.4.1

@obulat please post your os, node, and npm info in this thread. Let's narrow it down :) not sure if this will be relevant once we transition to vue3-cli, though.

[2019-12-20 04:07] obulat commented on #63
My details are:
- OS: Windows 10 Home edition 1903 18362.535 64 bit
- node: v13.3.0
- npm: v. 6.4.1

Is it because of the Node version? It might also be due to the global Webpack version, but I've already uninstalled it

[2019-12-25 04:15] #63 closed

[2020-01-10 01:37] akmadian opened #74 "When using npm run serve on fresh clone, get dependency not found error."
**Describe the bug**
When using a fresh clone of the repo, on the `WIP-Redesign` and `AttributionDetails` branches, and running `npm run serve`, after running `npm i`, I get
[code]
This package probably just got lost from package.json in the transition to Vue cli, no big deal :)

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo, and switch to `AttributionDetails` or `WIP-Redesign` b

[2020-01-10 01:38] akmadian commented on #39
Closing because no longer relevant, most tests will need to be rewritten after the redesign is done.

[2020-01-10 01:38] #39 closed

[2020-01-10 08:07] obulat commented on #74
Thank you, I wouldn't notice it on my own:)
My latest commit (actually, three commits) to `WIP-redesign` branch adds the  `@fortawesome/free-solid-svg-icons`, as well as updating the `@creativecommons/vocabulary` imports after the latest split of vue-vocabulary package from vocabulary one.

[2020-01-10 08:07] #74 closed

[2020-01-21 01:47] akmadian opened #76 "Dependency issues with vue-vocab and vocab on fresh clone of yes-no-change branch"
**Describe the bug**
The versions of both vocabulary and vue-vocabulary required in package.json are not in the npm registry. I tried manually updating both to most current (0.0.0-alpha.30 for both), and then started getting import and dependency not found errors. One of these errors was specifically for `@creativecommons/vocabulary/css/vocabulary.css`.

My guess is that you were working with voca

[2020-01-21 04:06] obulat commented on #76
The problem was with renaming `vocabulary.css` into `index.css`. With the latest commit it should be solved.

[2020-01-21 21:22] akmadian commented on #76
That was it!

[2020-01-21 21:22] #76 closed

[2020-01-21 21:41] akmadian opened #78 "Styling and text bugs when dist bundle is served"
**Describe the bug**
When the chooser's dist bundle is served, there are some visual bugs. This issue serves as a thread for tracking and fixing them.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. `npm i`
3. `npm run build`
4. Start an HTTP(S) server from build
5. See bugs

Observed on:
 - Chrome Versions: 79.0

[2020-01-21 21:43] akmadian commented on #78
**Option in stepper is invisible when not selected**

Looks to me that this is an issue with the `opacity` property on the `.field.not-selected` class. In chrome dev tools, I see 1% opacity on not selected fields

[2020-01-22 08:37] #78 closed

[2020-01-27 19:26] akmadian opened #85 "Some things I didn't catch in last review"
Hey Olga, I missed some things in the last review. I was on mobile and everything looked good so I approved. Please submit another PR with the following fixes:
 - Please add the following tags for mobile home screen shortcut icons:
    - `<link rel="icon" type="image/png" href="https://d15omoko64skxi.cloudfront.net/wp-content/uploads/2016/05/cc-site-icon-300x300.png" sizes="192x192">`
    - `<link

[2020-01-27 20:08] obulat commented on #85
Thank you for detailed review, Ari. I've changed everything except for twitter:site: the [twitter guide](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started) states that a twitter handle should be used there:

What is the most appropriate handle for that?

[2020-01-27 20:11] akmadian commented on #85
Ah I see, I assumed that the creator meta would be for that purpose. @creativecommons should be best. Go ahead and submit a PR with your changes and I'll take a look

[2020-01-27 20:14] obulat commented on #85
I assumed that, too, at first. It's nice they have examples.

[2020-01-28 00:28] kalendar opened #87 "Removing the "Free Cultural Works" Designation"
Why are we dragging forward the Free Cultural Works designation in the license chooser?

Ostensibly, the chooser is used by **novice users** who need to be taken step by step through each of the considerations involved in choosing a CC license. Why confuse that already daunting process with this icon and link? The icon and link appear with no context in the "Your License" pane on the right. Provid

[2020-01-28 05:09] #85 closed

[2020-01-28 20:39] akmadian commented on #87
Hello and thank you for bringing this to our attention. We will be discussing this in the next week or so and will get back to you about it soon!

[2020-02-03 23:20] akmadian commented on #87
Hey @kalendar, the discussion about this is currently ongoing. There is currently no deadline for a decision, but one will be made either way before the new chooser is released. Please feel free to ping me if you've got any questions :)

[2020-02-04 18:24] #62 closed

[2020-02-09 16:31] OUDcollective commented on #87
I am a year new to the digital creative community; and not that it counts for much, but, I rather like the Free Cultural Works Designation as it does have a purpose; psychological but there is purpose.

As for me, it was the first thing that stood out with the CC BY 4.0 making me curious to learn more while now checking footers on websites to see how they share.

Also, great job with the license c

[2020-02-12 21:38] akmadian commented on #58
Transifex may be integrated, will be able to test integration after some translations are 100% reviewed and first PR is received.

[2020-02-19 04:46] akmadian opened #93 "Instances of "chooser" related language in CC repos"
There are a small number of places that the word "chooser" is mentioned in the descriptions and names of various CC repos. For each of these, it may be worth looking at whether or not the language should be changed.

- [creativecommons/cc.engine](https://github.com/creativecommons/cc.engine)'s description "... part of the license engine"
- [creativecommons/cc.i18n](https://github.com/creativecommo

[2020-02-24 17:24] nwgat opened #95 "ODF/HTML/PDF export option"
would been nice if we can export to a nicely formatted text document with license, most of the time people include a LICENSE file with their work like open source programmers do

on http://creativecommons.org/choose/

[2020-02-25 04:30] #57 closed

[2020-02-26 23:05] akmadian opened #98 "Prep repo for outside contributors"
There are some small bits and bobs around the repo that should be done before we open it up to outside contributors. These are the ones I've noticed:

- [x] Update npm script names in root README and `./tests/` README
- [x] Delete Feedback.vue (deprecated)
- [x] Delete LicenseIconography.vue (deprecated)
- [x] Deleting old unit and e2e tests and snapshots, but leave a couple of both as examples fo

[2020-02-26 23:11] akmadian opened #99 "Rewrite Unit/ e2e tests"
The current unit and e2e tests were written before the current Outreachy internship round, and need to be updated for the current codebase. We need unit tests for components and utils, but some components won't need tests because they mock Vocabulary components, and will be deprecated soon.

Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://night

[2020-02-26 23:33] akmadian opened #100 "Text mismatch in "How are Licenses Communicated" modal"
For the "Full Name" representation, the full name is for BY, not BY-ND as it should be.

[2020-02-26 23:51] #59 closed

[2020-02-27 08:29] #100 closed

[2020-02-28 19:58] #98 closed

[2020-03-03 20:30] TimidRobot opened #108 "Hovering over footer links renders them illegible"
**Describe the bug**
Hovering over footer links renders them illegible

**Expected behavior**
color of hovered links should leave the legible

**Screenshots**
when hovering over "Noun Project":
![Screen Shot 2020-03-03 at 12 28 38](https://user-images.githubusercontent.com/691322/75816714-90693b00-5d4a-11ea-88cc-fec9ca1b8994.png)

[2020-03-03 23:21] akmadian opened #109 "Remove issue and PR templates in favor of cc/.github"
The issue and PR templates in this repo's .github should be deleted to allow [creativecommons/.github](https://github.com/creativecommons/.github) to be used.

[2020-03-03 23:24] #109 closed

[2020-03-03 23:25] akmadian commented on #108
Thanks for finding this! Will address in the next couple days

[2020-03-04 06:51] cognitive137 commented on #108
Hello, can I work on this?

[2020-03-04 22:11] akmadian commented on #108
Go ahead! @cognitive137

[2020-03-05 03:11] akmadian opened #112 "Add unit and e2e tests for AttributionDetailsStep component"
Unit and e2e tests need to be written for the AttributionDetailsStep component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are

[2020-03-05 03:18] akmadian opened #113 "Add unit and e2e tests for CopyrightWaiverStep component"
Unit and e2e tests need to be written for the CopyrightWaiverStep component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are an

[2020-03-05 03:18] akmadian opened #114 "Add unit and e2e tests for DropdownStep component"
Unit and e2e tests need to be written for the DropdownStep component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (uni

[2020-03-05 03:19] akmadian opened #115 "Add unit and e2e tests for FirstStep component"
Unit and e2e tests need to be written for the FirstStep component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (unit)

[2020-03-05 03:21] akmadian opened #116 "Add unit and e2e tests for the HelpSection component"
Unit and e2e tests need to be written for the HelpSection component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (unit

[2020-03-05 03:21] akmadian opened #117 "Add unit and e2e tests for the LicenseCode component"
Unit and e2e tests need to be written for the LicenseCode component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (unit

[2020-03-05 03:22] akmadian opened #118 "Add unit and e2e tests for the LicenseDetailsCard component"
Unit and e2e tests need to be written for the LicenseDetailsCard component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any

[2020-03-05 03:24] akmadian opened #119 "Add unit and e2e tests for the LicenseDetailsCard component"
Unit and e2e tests need to be written for the LicenseDetailsCard component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any

[2020-03-05 03:24] akmadian opened #120 "Add unit and e2e tests for the LicenseDropdown component"
Unit and e2e tests need to be written for the LicenseDropdown component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (

[2020-03-05 03:25] akmadian opened #121 "Add unit and e2e tests for the LicenseUseCard component"
Unit and e2e tests need to be written for the LicenseUseCard component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (u

[2020-03-05 03:27] akmadian opened #122 "Add unit and e2e tests for the LicenseCopy component"
Unit and e2e tests need to be written for the LicenseCopy component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (unit

[2020-03-05 03:28] akmadian commented on #119
I accidentally duplicated #118

[2020-03-05 03:28] #119 closed

[2020-03-05 03:29] akmadian opened #123 "Add unit and e2e tests for the Step component"
Unit and e2e tests need to be written for the Step component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (unit)
- Any

[2020-03-05 03:30] akmadian opened #124 "Add unit and e2e tests for the App component"
Unit and e2e tests need to be written for the App component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (unit)
- Any

[2020-03-05 03:32] akmadian opened #125 "Add unit tests for license-uitilities.js"
Unit tests need to be written for license-utilities.js. Unit tests are done with [Jest](https://jestjs.io/).

Please remember to test the following things:
- All methods, being sure to test a range of inputs for each method, including edge cases.

### Additional Context
- [./src/utils/license-utilities.js](https://github.com/creativecommons/cc-chooser/blob/master/src/utils/license-utilities.js)
-

[2020-03-05 03:34] akmadian opened #126 "Improve unit and e2e tests for the Stepper component"
Unit and e2e tests need to be improved for the Stepper component. Unit tests are done with [Jest](https://jestjs.io/), and e2e tests are done with [nightwatch](https://nightwatchjs.org/).

Please remember to test the following things:
- That individual parts of the component are present when appropriate. (unit and e2e)
- That any computed props and methods work properly, if there are any. (unit)
-

[2020-03-05 03:49] akmadian commented on #87
Hello all! We've decided to go for a middle ground and still include the opportunity to learn about free culture licenses and free cultural works through the help section. This can be found on the right side of the site, under the "Confused? Need Help?" section, through clicking on "What is a Free Culture License?".

We think that this approach, while still providing the ability to learn more, and

[2020-03-05 03:49] #87 closed

[2020-03-05 06:13] kushaggarwal commented on #116
Hello @akmadian I would like to go for this but I am not fully aware as how to proceed so can you please give me a few pointers for same
Thank you

[2020-03-05 06:41] akmadian commented on #116
Hey @kushaggarwal, I would recommend doing some research on what unit and e2e (end to end) testing is, and how it works. Once you're familiar with the concept of testing and tests, your task is to think of some tests (I've included a general list of things to look at when coming up with tests in the main issue body), and write the code for the tests you've come up with (Vue's guide on unit testing

[2020-03-05 08:08] kushaggarwal commented on #116
Okay @akmadian thank you very much for your help will start working towards the same

[2020-03-05 09:20] hemanth-hk commented on #117
Can I work on this issue?

[2020-03-05 11:15] abhisheknaiidu commented on #120
Want to work on this.

[2020-03-05 14:16] acagastya commented on #125
Hello.  Could I work on the test coverages?

[2020-03-05 16:57] cognitive137 commented on #108
@akmadian hello. Thank you for waiting.  I have submitted the PR.  Can you please have a look?  Thank you.  :-)

[2020-03-05 19:04] akmadian commented on #117
Go ahead @hemanth-hk :)

[2020-03-05 19:04] akmadian commented on #120
Go ahead @abhisheknaiidu :)

[2020-03-05 19:05] akmadian commented on #125
Go ahead! @acagastya

[2020-03-05 20:51] acagastya commented on #125
@akmadian Hi.  Could you please tell me how to organise the tests?  In which directory am I supposed to put it under?

[2020-03-05 20:58] akmadian commented on #125
It should be organized similarly to how component tests are organized. Just like component unit tests go in `./tests/unit/specs/components/`, unit test specs for utils should go in `./tests/unit/specs/utils/`

[2020-03-05 20:59] acagastya commented on #125
Okay, thank you.  :-)
I have already started, and I will move it to the appropriate folder now.

[2020-03-05 22:01] acagastya commented on #125
@akmadian While writing the tests, I just realised, the function `attrToFull`, which takes an object as a parameter, and outputs license string gives a wrong answer for this object: `{ BY: true, ND: true, SA: true }`.  Non-Deriv is mutually exclusive from ShareAlike.  Right now, its result is `Attribution-NonDerivatives 4.0 International` (CC BY-ND 4.0).

Do we assume the parameters passed to the

[2020-03-05 22:12] akmadian commented on #125
I think it's safe to assume that the ND and SA incompatability won't be an issue, the ability to make a selection for SA is disabled when ND is selected, so it's theoretically impossible for that specific configuration to get passed in.

So, to answer your question directly, it's safe to assume that the parameters passed will correspond to a valid license.

[2020-03-05 22:18] acagastya commented on #125
Thank you for the swift response, @akmadian.  I found another oddity.
`attrToFull({ BY: undefined}) //? CC0 1.0 Universal`
`attrToShort({ BY: undefined}) //? undefined`

Is that how they are supposed to behave?

[2020-03-05 22:29] akmadian opened #128 "Update code and documentation to reflect repo renaming"
We've just renamed this repo from `cc-chooser` to `chooser`. There are some places in the docs and code with the specific string "cc-chooser" that need to be updated to "chooser".

We can use `git grep 'cc-chooser'` to find usages of the "cc-chooser" string.

[2020-03-06 02:53] akmadian commented on #125
Thanks for catching this, I would say that for now, yes, this is expected behavior. The person who wrote this code is @obulat, and she's gonna be unavailable for a while, and I'm unsure if this is expected behavior.

Let's assume that this behavior is expected for now, and we can re-examine once @obulat is back :)

[2020-03-06 04:29] acagastya commented on #125
Okay, point noted.  And I have duly updated the tests.  Thank you for letting me know.

[2020-03-06 09:27] acagastya commented on #125
@akmadian I had been thinking of edge cases, and unsurprisingly, `shortToAttr('AND')`'s result is CC BY-ND, because it matches `"ND"`.  Should I assume the input to `shortToAttr` would always be the correct short-hand notation of the CC licenses?

[2020-03-06 22:06] hemanth-hk commented on #117
I think there would be changes cause they are `tests` so... partially done :)

[2020-03-07 01:05] akmadian commented on #125
Yes, I think that's safe to assume

[2020-03-07 07:13] hemanth-hk commented on #118
Can I work on this?

[2020-03-07 07:41] obulat commented on #125
Thank you for catching this issue, @acagastya !
At first, we had CC BY license set by default, and all attributes were set to false (except for BY, which was set to true) at the beginning. Then we decided not to have a default license choice, so all attributes became `undefined` at the start, and the function `attrToShort` was changed to return `undefined` if no selection had been made. This `unde

[2020-03-07 14:25] acagastya commented on #125
@obulat Sure thing, I will do that.  And update the tests accordingly.  Thank you for letting me know the context.

And I agree with your way of approaching this.  Creative Commons licenses (especially version 4.0) are very clear about the requirements and explicitly state what is true, what is defined.  If something is not defined (and marked as `undefined`), it is not to be treated as `false`.

[2020-03-07 22:51] #108 closed

[2020-03-08 00:03] akmadian commented on #118
Go ahead @hemanth-hk!

[2020-03-08 09:19] JackieBinya commented on #112
Hello @akmadian
I am an outreachy 2020 Applicant.
I would love to work on this issue.

[2020-03-08 14:31] hemanth-hk commented on #118
`PR` is opened, please review and tell the changes, if any

[2020-03-08 14:44] hemanth-hk commented on #116
@kushaggarwal I found an error in the `HelpSection.vue` component

![HelpSection](https://user-images.githubusercontent.com/43946715/76164982-39fc6200-6179-11ea-956f-304b5984fc34.png)

Please ask your mentor to include this in your `PR` or please inform me so that I'll make an issue

[2020-03-08 14:45] hemanth-hk commented on #121
Can I work on this?

[2020-03-08 16:39] JackieBinya commented on #112
Hello @akmadian
May I please work on this issue.

[2020-03-08 17:15] Tanmay1201 commented on #115
Hey @akmadian! May I work upon this issue?

[2020-03-08 18:49] akmadian commented on #115
Go ahead! @Tanmay1201

[2020-03-08 18:49] akmadian commented on #112
Hey @JackieBinya, go ahead!

[2020-03-08 18:52] akmadian commented on #121
@hemanth-hk I'm gonna say no since you've already submitted 2 PRs, let's make sure that others can contribute as well :)

[2020-03-08 18:52] akmadian commented on #116
@hemanth-hk This will be fixed in #129

[2020-03-08 18:55] hemanth-hk commented on #121
Okay... I have a small request , when you review my PRs please give me some feedback about how I wrote tests cause I never wrote tests before

[2020-03-09 16:18] JackieBinya commented on #112
Hello @akmadian,
# The problem
After finishing my project set-up as well as successfully running the project on the development server. I ran the command ```npm run test:unit```  on the terminal so as to run the unit tests, please find attached a screenshot for the message I got on the terminal which, in essence, says there are no tests found in the project as expected.
![Screenshot (646)](https:/

[2020-03-09 20:06] obulat commented on #112
That's right, currently there are no tests in the project. The tests you write should be in `~/tests/unit/specs/components/` directory. So, your specific test should be in `~/tests/unit/specs/components/AttributionDetailsStep.spec.js` file.

[2020-03-09 20:15] obulat commented on #99
I think we should also add a test for Vuex store, @akmadian .

[2020-03-10 14:41] miracle-E commented on #128
I'm an outreachy applicant, Please i would love to contribute.

[2020-03-11 18:02] #128 closed

[2020-03-12 18:51] jperl commented on #99
👋 Hello I maintain an [open source library](https://github.com/qawolf/qawolf) that generates [Playwright](https://github.com/microsoft/playwright) code. I would be happy to submit PRs setting up e2e tests, if you are cool with them using Playwright?

[2020-03-12 21:44] akmadian commented on #99
@obulat I agree, I'll open an issue for it :)

@jperl thanks for letting us know, but I think we'll stick with nightwatch

[2020-03-14 14:56] achilep commented on #124
hello please i will like to work o this issue

[2020-03-14 16:47] acagastya commented on #125
Hi, I am sorry for the delay.  I will be submitting the PR in a few hours.

[2020-03-14 17:46] acagastya commented on #125
@obulat Just a quick clarification, what should be the output of `licenseIconsArr({ BY: undefined })`.  Should it be empty array.  Or should I assume it is not possible to have that?

[2020-03-15 20:51] #117 closed

[2020-03-15 20:54] #118 closed

[2020-03-15 20:54] akmadian commented on #124
@achilep go ahead!

[2020-03-15 21:00] #125 closed

[2020-03-16 06:13] achilep commented on #124
Thank you

[2020-03-16 11:29] achilep commented on #124
please can cheek my pr

[2020-03-16 17:44] JackieBinya commented on #112
Hello
I have encountered a blocker whilst trying to write e2e tests for the AttributionDetailsStep Component.
Most of the components that precede the AttributionDetailStep component do not have unique identifiers/selectors hence its making it impossible to mimic user behavior.
I will attach a screenshot using the FirstStep Component to further explain what I am trying to achieve.
![Screenshot from

[2020-03-17 07:27] hemanth-hk commented on #116
Any help @kushaggarwal?

[2020-03-17 07:28] hemanth-hk commented on #120
Any help @abhisheknaiidu?

[2020-03-17 09:30] abhisheknaiidu commented on #120
@hemanth-hk you can work on this if you want. Right now, I am just contributing to CC Search repo as I wanted to contribute to their codebase as much as can.

[2020-03-17 09:42] hemanth-hk commented on #120
@abhisheknaiidu I have already submitted 2 PR's, If you are stuck anywhere I can help you

[2020-03-17 09:49] abhisheknaiidu commented on #120
@hemanth-hk Thanks, but I haven't yet started working on this, As I said earlier, if you want, you can work on this :)

[2020-03-17 16:28] achilep opened #140 "language logo appear in How do the Licenses Work? under CONFUSED? NEED HELP? session"
## Describe the bug
language logo appear in the in "how do the licenses work" question under confused?need help?

## To Reproduce

1. Go to 'CONFUSED? NEED HELP?'
2. Click on 'How do the Licenses Work? '
3. Scroll down
4. See error:'the logo language appear'

## Expected behavior
the logo language should not appear

## Screenshots
![Screenshot from 2020-03-17 17-21-31](https://user-images.githubus

[2020-03-17 20:43] JackieBinya commented on #112
Hello
I have finished writing both unit (commit 4075fd8)and e2e (commit 3db5c1e) tests for the AttributionDetailsStep Component.

I hereby request a code review.

The coverage for the unit tests is 100%
As for the e2e tests:
- I mainly focused on checking that different elements of the form where visible when the form is loaded. My reason was that there isn't much to test when user submits input a

[2020-03-18 06:06] achilep commented on #140
Hello @akmadian  please can change the stare of this issue to help wanted I will like to work on it. Thank you

[2020-03-18 17:38] kgodey opened #141 "Update location that CC license icons are served from"
## Description
CC license icons in the chooser need to be served from the same location as the icons on https://creativecommons.org/about/downloads (https://mirrors.creativecommons.org). We should use a query string parameter to indicate that traffic is coming from the chooser.

e.g. the CC icon could use the URL https://mirrors.creativecommons.org/presskit/icons/cc.svg?chooser-v1

[2020-03-18 23:33] #115 closed

[2020-03-18 23:35] akmadian commented on #116
@hemanth-hk I don't see any progress on @kushaggarwal's fork, so I'm gonna open this up to other contributors, if you'd like to work on this, you can go ahead since it's now free!

[2020-03-18 23:40] #112 closed

[2020-03-18 23:43] akmadian commented on #120
I'm gonna free this issue up to other contributors. @hemanth-hk since you've already had a couple PRs merged, let's wait for a few days to see if anyone wants to take this up. If noone indicates their interest, you can go ahead :)

[2020-03-18 23:50] akmadian commented on #140
Thanks for reporting this! If you'd like to work on a fix for this, go ahead!

[2020-03-19 03:48] Tanmay1201 commented on #120
Hey @akmadian! Can i work on this?

[2020-03-19 05:43] kushaggarwal commented on #116
Hello @akmadian apologies for this delay
Actually I was caught up with my university exams hence wasn't able to attend to this issue

[2020-03-19 06:42] kushaggarwal commented on #116
@hemanth-hk please continue for the same
Thank you

[2020-03-19 16:27] JackieBinya commented on #126
Hello @Ari.
May I please work on this issue.

[2020-03-20 16:04] kss682 commented on #140
@akmadian @achilep logo is getting overlayed over the other questions too.

![Screenshot from 2020-03-20 21-27-33](https://user-images.githubusercontent.com/30746998/77182117-432eec80-6af2-11ea-8e4f-5b049b07016f.png)

and  its not a problem when browser is in full screen(f11).

![Screenshot from 2020-03-20 21-33-00](https://user-images.githubusercontent.com/30746998/77182255-76717b80-6af2-11ea-982

[2020-03-20 17:00] achilep commented on #140
Yes i am actually working on it

[2020-03-20 17:01] achilep commented on #140
Any suggestions

[2020-03-20 17:03] kss682 commented on #140
@achilep have not actually looked into much , seems like you can start looking into HelperSection.vue, in components.

[2020-03-20 19:23] akmadian commented on #120
go ahead @Tanmay1201! As per [our new code contribution guidelines](https://opensource.creativecommons.org/contributing-code/), you don't need to ask for permission to work on an issue, you can just submit a PR. It's best to state that you're working on the issue before starting work, though :)

[2020-03-20 19:23] akmadian commented on #116
No worries @kushaggarwal, I'm also very busy with exams right now :)

[2020-03-20 19:24] akmadian commented on #126
@JackieBinya go ahead!

[2020-03-23 09:55] hemanth-hk opened #143 "Custom Test Utils file for unit tests for a DRY approach"
## Problem Description
Presently the unit and e2e tests are written without using any type of test_util file which is a repetitive task.

## Solution Description
Make a custom test_util file which contains most of the repetitive functions and anyone can import and write tests in a more `DRY` approach

## Additional context
* This issue is only for unit tests

Before working on it I have some queri

[2020-03-23 18:55] hemanth-hk commented on #116
I submitted a `PR` for this issue, before submitting I saw @kushaggarwal's fork and it didn't had any progress.
I'm sorry if @kushaggarwal was working on this.

[2020-03-24 18:28] akmadian commented on #143
Please elaborate on what exactly would go in the file, would it be mock vuex configs, mock states, methods, etc? I'll mark as `ticket work required` until you respond

[2020-03-24 18:33] hemanth-hk commented on #143
Ya sure, my bad :(

[2020-03-25 13:26] hemanth-hk commented on #143
Okay so here is what I wanted to do with this file

[code]
Something like the above would be great and making like that is my idea
Basically this file will have a class and the constructor will take the wrapper and expect
[code]
I hope this explains it and while explaining this I felt `TestHelpers` would be a better name for the file

[2020-03-26 15:16] Tanmay1201 commented on #123
Hey @akmadian! I would like to work on this issue.
Thanks

[2020-03-30 15:15] JordanRuetz commented on #140
Issue seems inactive, I am going to take it up.

[2020-03-30 19:02] JackieBinya opened #148 "FirstStep Component unit tests failing"
## Describe the bug

- The unit tests for the FirstStep component are failing.
- e2e tests are missing
## To Reproduce

1. Run tests in the FirstStep.spec.js file by typing the command
```npm run test:unit FirstStep.spec.js```
2. On the terminal, you will get the error message that says that the test suite failed to run as shown in the screenshot below.

## Expected behavior

- All unit tests must

[2020-03-31 10:30] hemanth-hk commented on #148
I see that the `FirstStep.vue` doesn't have even the e2e tests and the unit tests need to be updated so it would be better if you create an issue for both unit and e2e like all other components and solve this thing here itself. This would be better I believe

Let's see what **Ari** or other members say about this

[2020-03-31 13:24] JackieBinya commented on #148
I hadn't realized that the e2e tests are missing.
Opened a PR already just completed the unit tests PR #149
I guess I would then have to update it and add e2e tests.
Waiting for @akmadian for the go-ahead

[2020-03-31 13:26] hemanth-hk commented on #148
You can always append to that PR

[2020-03-31 20:31] annatuma opened #151 "Updates to "Confused? Need Help?" questions"
## Problem Description
We have finalized the language for the "Confused? Need Help?" questions on the Chooser.

## Solution Description
Each question, and _approved_ answer, is detailed below. The text should simply be swapped out. There is one new question that needs to be added. Please note, all links should open in a new tab. Links are indicated with <text: URL> placeholders. Icons are indicate

[2020-03-31 20:47] sjs8906 commented on #151
@annatuma I'd love to help with this.

[2020-04-02 06:18] Tanmay1201 commented on #148
@JackieBinya I see that there is a configuration error. On my machine this test file seems to run fine without displaying any error :)

[2020-04-02 10:47] JackieBinya commented on #148
@Tanmay1201 hi
I'm pretty new at this.
Sorry about the delay.
Well I saw that file was misplaced and the issue of file configuration and the issue of coverage and the issue of missing e2e tests
I made an attempt to solve all those issues  on PR #149
At this point I am not really sure what can be done.
But for intest sake please check out my implementation on my PR

I've checked yours out.

[2020-04-02 13:59] #140 closed

[2020-04-02 19:45] kgodey commented on #151
@sjs8906 go ahead

[2020-04-03 06:16] #116 closed

[2020-04-03 07:28] hemanth-hk commented on #151
@sjs8906 I wrote tests for the `HelpSection.vue` or the "Confused? Need Help?" section so once you are done with the changes please run `npm run test:unit` and see if anything breaks, As far as I know, tests should not break cause most of the part is handled by $t but do let me know if anything breaks I would be happy to fix them

[2020-04-03 07:58] obulat opened #153 "Errors in LicenseCode and LicenseDetailsCard e2e tests"
## Describe the bug

Running e2e tests currently is blocked by small errors in LicenseCode.js and LicenseDeailsCard.js files.

## To Reproduce

1. Run 'npm run-script test'
2. See error:

[code]

## Expected behavior

It is expected that all the tests run without any errors.

## Desktop (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 80

## Additional cont

[2020-04-03 08:01] hemanth-hk commented on #153
I'm working on this

[2020-04-03 08:47] hemanth-hk commented on #153
Yup, Done

[2020-04-03 08:58] #153 closed

[2020-04-03 09:01] achilep commented on #140
Great work. Sorry for late reply I have some issue.

[2020-04-04 13:17] obulat commented on #148
I've moved the `FirstStep.spec.js` to "unit/specs/components" folder and edited the import to '@/**c**omponents' to solve this issue, so I am closing it. I will make more comments re: FirstStep tests in the corresponding PRs.

[2020-04-04 13:17] #148 closed

[2020-04-04 15:29] obulat commented on #113
This issue is closed by PR#152

[2020-04-04 15:29] #113 closed

[2020-04-05 11:25] hemanth-hk opened #156 "Error in CopyrightWaiverStep.js e2e test"
## Describe the bug
The below screenshot describes it all basically one of the e2e tests fails due to clickHandler error on the `.select` class

## To Reproduce
clone and run `npm run test` or `npm run test:e2e`

## Expected behavior
No tests should fail

## Screenshots
![copyrighte2e](https://user-images.githubusercontent.com/43946715/78473381-e3754a00-775d-11ea-9aa0-b06fd4272fcb.png)

## Desktop

[2020-04-06 08:02] hemanth-hk commented on #121
Its been a long time and no one showed any interest so I am working on this :)

[2020-04-06 12:26] SaurabhAgarwala commented on #151
@sjs8906 Are you still working on this?
If not, I would like to take upon this issue

[2020-04-07 05:22] #126 closed

[2020-04-07 16:25] JackieBinya commented on #156
Hey @hemanth-hk may you please elaborate what you mean in the *Additional Context*, when you say _for the same error your previous tests were also failing_.

[2020-04-07 16:37] hemanth-hk commented on #156
I wrote some tests for the `LicenseCode.vue` and `LicenseDetailsCard.vue` components and suddenly they broke and I had to send a `PR` fixing them, basically the `.select > select` is not able to handle the click event so we have to click only the `.select`. Then I noticed that the same thing is happening in the `CopyrightWaiverStep.vue` tests, so I created this issue

@obulat knows about this so I

[2020-04-07 17:17] SaurabhAgarwala commented on #151
@kgodey Shall I go ahead and work on this?

[2020-04-07 17:34] kgodey commented on #151
@SaurabhAgarwala go ahead, you don't need our permission for issues marked "help wanted".

[2020-04-07 18:18] JackieBinya commented on #156
@hemanth-hk Thanks for the explanation.
I hadn't even noticed that because locally the e2e were passing.
I will now also take a look at them closely, thanks for the heads up!
If I come up with anything I will let you know.

[2020-04-07 19:13] SaurabhAgarwala commented on #151
@annatuma For the new question to be added, what I understand from the context of the last two lines is that there should also be a link in the heading **"Looking for earlier license versions, including ports?"** which redirects to [this](https://creativecommons.org/choose/) page. But you have not mentioned inserting any link in the heading. Can you please look into it and clarify.

[2020-04-08 18:24] annatuma commented on #151
@SaurabhAgarwala that text should just be bolded, which is why it was bolded in the ticket. The only link for that question is indicated with <parentheses>.

[2020-04-09 11:01] #114 closed

[2020-04-09 12:30] JackieBinya commented on #124
@akmadian and @obulat
May I contribute to this issue.

[2020-04-10 13:52] achilep commented on #124
Do you have any suggestions @JackieBinya

[2020-04-10 15:48] JackieBinya commented on #124
Hey @achilep what's the status of this issue, is it closed?
If not sure I do have ideas.
But please clarify for me.

[2020-04-15 14:11] SaurabhAgarwala opened #159 "CC Logo stacks above the modal window"
## Describe the bug
The CC Logo present in the footer gets stacked above the modal window opened when a "Confused? Need Help?" question is clicked, hence affecting the view of the modal window contents.

## To Reproduce

1. Go to [License Chooser Website](https://chooser-beta.creativecommons.org/)
2. Scroll to the bottom of the page
3. Click on any of the following questions:
    - How do the Lice

[2020-04-16 18:36] akmadian commented on #159
I'm going to close this because we'll be replacing the current footer with the one from Vocabulary in the near future and this will likely be made obsolete.

[2020-04-17 20:01] #151 closed

[2020-05-06 19:14] annatuma opened #160 "Update CC Chooser product logo"
CC Chooser has an updated product logo. We'd like to update it in the header of the site.

Note, this is blocked by pending updates of the logos in Vocabulary:
https://github.com/creativecommons/vocabulary/issues/360

[2020-05-06 19:20] annatuma opened #161 "Update Footer on Chooser to Vocabulary"
The footer on the License Chooser does not currently match the footer in Vocabulary. (It is possible this was implemented before the footer was available in Vocabulary?)

We should update the design to use the footer from Vocabulary. The only nav item in the footer should be the Feedback form link.

[2020-05-06 19:24] annatuma opened #162 "Header and background updates"
There are a couple of small changes needed to the License Chooser, to get it to match [the original mockups](https://www.figma.com/file/Gmr57huMk646K1G6boePoO/Mockup-v2?node-id=91%3A0).

1) The background color of the body should be light grey.

2) The header should use Vocabulary (may not be doing that, given timing), and the Feedback link in the header should include an external link icon.

[2020-05-11 14:41] JackieBinya commented on #162
@annatuma I could not access the mockups. This is the message I got from figma
![new](https://user-images.githubusercontent.com/50267279/81574522-35853d00-93a6-11ea-83c5-43d1ce5e6996.png)

[2020-05-11 21:35] annatuma commented on #162
So sorry @JackieBinya I've fixed the link. I forgot to double check the settings. Let me know if you have any other issues with it.

[2020-05-14 03:33] Herald-Of-Solace commented on #161
Can I work on this?

[2020-05-15 19:48] kgodey commented on #161
@Herald-Of-Solace no need to ask for permission, go ahead.

[2020-05-16 04:41] Herald-Of-Solace commented on #161
@kgodey Thanks

[2020-05-18 08:18] JackieBinya opened #164 "Fix position of select language block on screens/devices less than 1024px width."
## Describe the bug

The locale-chooser component i.e select language is not responsive. Its position is dodgy for screens less than a `laptop` or `1024px` on the Chrome browser.

## Screenshots

![Screenshot from 2020-05-18 09-38-08](https://user-images.githubusercontent.com/50267279/82189514-cea8dc00-98ef-11ea-9164-5bf015ced1bc.png)

## Desktop (please complete the following information)
 - OS:

[2020-05-20 11:47] obulat opened #165 "Language selector is not clickable and footer text is visible through modal"
## Describe the bug

 Language selector is not clickable; footer text is visible through modal.
## To Reproduce

1. Go to 'https://chooser-beta.creativecommons.org/'
2. Click on arrow of the language selector at the top of the page.
3. See that nothing changes.

4. Scroll to the bottom, and click on 'How are licenses communicated' help button.
5. You can see 'Creative Commons' logo from the footer

[2020-05-20 13:11] obulat commented on #159
This is not, actually, an issue with the footer, but with modals, and is fixed by #186. This issue is part of #165 .

[2020-05-23 14:45] dhruvkb commented on #160
@annatuma @akmadian just informing that creativecommons/vocabulary#360 is resolved by creativecommons/vocabulary#366 so this can move forward.

[2020-05-24 20:49] obulat commented on #60
Does this refer to Sentry, Ari? Then I think you have already fixed this issue.

[2020-05-24 21:00] obulat commented on #161
Yes, Anna, when I added the footer, it wasn't ready in Vocabulary just yet.
I looked into Vue Vocabulary now, but the Footer component there isn't ready yet. So, I copied footer from the cccatalog, please see in #169. Does Feedback look ok? Should it open in a new tab, or the same tab?

[2020-05-24 22:19] obulat commented on #141
@kgodey , I started working on this issue, but I have a question regarding the link:
In the links that we have currently, the parameter in url is added with 'ref=', and in link you gave above doesn't have the 'ref='. Which one should we use?

-  https://mirrors.creativecommons.org/presskit/icons/cc.svg?chooser-v1
-  https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1

[2020-05-25 01:43] #160 closed

[2020-05-25 01:43] #161 closed

[2020-05-25 06:41] akmadian commented on #60
Ah, yes! Thanks for spotting this Olga :)

[2020-05-25 06:41] #60 closed

[2020-05-25 08:13] #164 closed

[2020-05-25 21:07] #165 closed

[2020-05-26 13:51] kgodey commented on #141
We should use the "ref", thanks for spotting that.

[2020-05-27 10:04] obulat commented on #159
Fixed via #171

[2020-05-27 10:04] #159 closed

[2020-05-28 16:04] obulat opened #174 "Modals are broken"
## Describe the bug

After revision ec992d7d61c6714288da619f6eddeca283550718 the modals have been broken: the footer is apart from the modal itself, close button is hidden in the bottom left corner of the modal, and scrollbar is outside a rounded-cornered modal card.

## To Reproduce

1. Serve the site
2. Click on any help link

## Expected behavior

Modal should appear as a card, and a close butt

[2020-05-28 18:33] #162 closed

[2020-05-29 14:41] #141 closed

[2020-06-13 19:21] #174 closed

[2020-07-12 15:26] matheod opened #177 "Attribution Details : sanitize user input"
## Description
Work Author, URL of creator profile, Title of Work and Work URL input are not sanatized.
This bring two theorical security issue :
- The html in name is parsed which allow execution of javascript (_but this means the user have to paste malicious code so not really a useable vulnerability_)
- `javascript:` url can be written
This bring two real issue :
- If an basic user use some cha

[2020-07-12 19:04] obulat commented on #177
Thank you for reporting this issue, @matheod , it is very important. Please, go ahead and submit your PR when you are ready!

[2020-07-30 19:02] obulat opened #180 "No rel=license in license html code"
## Description

The license code generated currently doesn't have a rel=license attribute for the link to the CC license.

## Reproduction

1. Select one of the licenses
2. See error.

## Expectation

The chooser should provide machine-readable information in the html code, including `rel=license`.

## Screenshots

The issue was [reported by Matthias Andrasch](https://twitter.com/m_andrasch/status

[2020-07-31 03:58] #180 closed

[2020-08-11 23:56] UschiSushi opened #184 "Creative Commons"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2020-08-11 23:56] UschiSushi commented on #184
Ok

[2020-08-12 06:11] #184 closed

[2020-10-07 06:18] #123 closed

[2020-10-16 22:27] fkohrt opened #188 "Incorrect usage of the rel attribute"
## Description

To the best of my RDFa knowledge, the object of the `rel` attribute is the `href` attribute and __not__ the inner content of its tag (sources: [1](https://stackoverflow.com/a/18853626), [2](https://www.ctrl.blog/entry/rdfa-link-attributes.html)). The latter is, however, implied by the following code fragments:

https://github.com/creativecommons/chooser/blob/40dcfa047ef50fa82d0431a

[2020-10-17 12:18] fkohrt opened #189 "Short name misses version number"
## Description

A license's short name should alsoc contain the version number, right? This is missing here:

https://github.com/creativecommons/chooser/blob/e0d79d68611c93d52035013e3164715f268b75ac/src/components/HelpSection.vue#L195-L196

## Expectation

`CC BY-NC 4.0`

[2020-10-19 18:34] #189 closed

[2020-10-19 20:34] fkohrt opened #192 "Firefox not scrolling up before info modal appears"
## Description

Clicking a question inside the help section ("CONFUSED? NEED HELP?") won't reveal the answer if scrolled down, i.e. it's not being scrolled up automatically. Scrolling manually doesn't work now.

## Reproduction

1. Visit the [chooser](https://chooser-beta.creativecommons.org/) on Firefox.
2. Click through until you can provide attribution details.
3. Scroll to the bottom.
4. Click

[2020-10-19 20:52] fkohrt opened #193 "Placeholders contain domain names, not URLs"
## Description

The attribution details currently suggest that one can enter a domain name. This will, however, result in an address relative to the chooser's domain. I therefore suggest to add protocols to the placeholder to make them full URLs.

https://github.com/creativecommons/chooser/blob/e0d79d68611c93d52035013e3164715f268b75ac/tests/e2e/specs/LicenseCode.js#L20-L30

https://github.com/crea

[2020-10-19 21:02] fkohrt opened #194 "Add Free Cultural Work indication to licenses"
## Description

I would really like to see that Free Cultural Work badge again. Seeing that my choice does not compose a "Free Cultural Work" encourages me to rethink my choices and opting to create a Free Cultural Work feels good. Used to be a great nudge!

## Additional context

Apparently had once been implemented via f5a2416.

## Implementation

- [ ] I would be interested in implementing this

[2020-10-21 13:54] #124 closed

[2020-10-21 20:30] obulat commented on #194
This issue has been discussed by the team after #87, and the decision was to provide a description of what constitutes "Free Cultural Work" in the Help section  (What is a Free Culture License?), but not to add the "Free Cultural Work" badge on the Chooser License card.

[2020-10-21 20:32] obulat commented on #188
Thank you for bringing this up, @fkohrt ! It is great to have input on RDFa properties. I will review your PR tomorrow.

[2020-10-21 21:11] fkohrt commented on #194
Sorry, I missed that!

Oh, I see... that's a pity :/

[2020-10-21 21:19] fkohrt opened #196 "Are the "Considerations Before Licensing" using the correct link?"
## Description

Currently the info modals regarding the "Considerations Before Licensing" links to the wiki page [Considerations for licensors and licensees](https://wiki.creativecommons.org/wiki/Considerations_for_licensors_and_licensees). But there's also the [same (?) page on creativecommons.org](https://creativecommons.org/share-your-work/licensing-considerations/version4/).

Which one is the

[2020-10-22 06:18] #188 closed

[2020-10-22 08:42] fkohrt opened #197 "Offer XMP metadata file for download"
## Problem

Currently, there's no way to generate a XMP metadata file with the chooser.

## Description

Although I do not consider myself a novice to the Creative Commons licenses, I used the legacy license chooser a lot to create proper machine readable data until I wrote my own metadata generator. So I believe it might facilitate the work of other people interested in marking other kinds of wor

[2020-10-22 08:48] fkohrt opened #198 "Inconsistent wording for attribution details"
## Description

The attribution details currently have the entries "Work Author" and "URL of creator profile", making it harder to connect the two entries.

## Expectation

"URL of creator profile" → "URL of author profile"

## Resolution

- [x] I would be interested in resolving this bug.

[2020-10-29 18:20] zackkrida opened #199 "Button a11y ("Next Step") buttons can not be focused"
The tool can't fully be used with keyboard access—the 'Next' buttons no not have a focus state, nor can be tabbed to.

## Resolution

- [x] I would be interested in resolving this bug.

[2020-10-29 21:06] obulat commented on #198
Thank you for reporting this! We will change the wording and the order of the fields soon.

[2020-10-29 21:07] obulat commented on #156
This error has been fixed, I'm closing the issue.

[2020-10-29 21:07] #156 closed

[2020-10-29 22:30] zackkrida commented on #198
@obulat @fkohrt Here is the chosen language:

## Label (Input Placeholder)

- Creator of Work (Jane Doe)
- Title of Work (e.g. Best Photo Ever)
- Link to Work(e.g. https://janedoe.com/best-photo-ever)
- Link to Creator Profile (e.g. https://janedoe.com)

[2020-10-30 20:38] obulat commented on #192
Thank you for reporting this bug! It needs fixing.

[2020-11-02 17:14] #198 closed

[2020-11-02 18:17] codetheorem commented on #120
assign this to me.

[2020-11-02 18:45] obulat commented on #120
Go ahead!

[2020-11-02 22:21] zackkrida commented on #192
As discussed with @obulat, we plan to fix this by moving the modal component inside of https://github.com/creativecommons/cccatalog-frontend into vocabulary, and switching away from the buefy modals.

[2020-11-03 07:23] Yashs911 commented on #199
@zackkrida I would like to work on this issue.

[2020-11-03 20:21] Phuker opened #202 "Images in mirrors.creativecommons.org can not be loaded, blocked by Cloudflare captcha"
## Description

Button & icon images in mirrors.creativecommons.org can not be loaded, blocked by Cloudflare captcha. The settings in Cloudflare CDN might be inappropriate.

*I'm not sure whether here is the right place to report this problem, if it's not then I'm sorry.*

## Reproduction

1. Create a simple HTML file with these contents:

[code]
2. Open a incognito private window in your browser

[2020-11-03 21:03] obulat commented on #202
Thank you very much for reporting this issue, it's the right place for it. We will investigate.

[2020-11-04 05:49] #120 closed

[2020-11-04 06:27] Yashs911 commented on #199
@zackkrida Adding href="#" to all the NEXT Step links solves the problem so should I go ag=head with this solution.

[2020-11-04 08:34] obulat commented on #199
@Yashs911 , your solution works, but I would like to rework the stepper component entirely to add it to the Vocabulary, the design system of Creative Commons, and I will add a more semantic solution for this (actually making the button a <button>), and adding the ability to tab to steps.

[2020-11-04 14:09] kgodey commented on #202
@Phuker we are unable to reproduce, what is the location you are trying to load these images from?

[2020-11-04 14:38] Phuker commented on #202
If you mean geolocation, I'm in China, and I tested on all my cloud servers again, it seems the problem is narrowed down.

This time I ran this command:

[code]

There is no problem in Japan and the US, I can get a `HTTP/2 200`, `image/svg+xml` response.

But all requests from China got a `HTTP/2 403`, `text/html` captcha challenge response. It seems that Cloudflare blocks requests from China.

An

[2020-11-04 23:04] zackkrida opened #203 "Anonymized feedback from user"
Here is some feedback I received from a community member. Perhaps most relevant to @annatuma and @pachovm in preparation for a redesign.

[2020-11-05 08:48] annatuma commented on #203
Fantastic, thanks for reporting this! I've got it documented with all the other written feedback we've received, all of which we'll be reviewing today.

[2020-11-05 08:48] #203 closed

[2020-11-18 12:46] panchovm opened #204 "Bugs when copying information from the attribution box"
## Description
The rich text tab within attribution box has the following bugs:
1. The links displayed are not copied correctly. It pastes a link mixed with the chooser link.
2. The license icons are not copied correctly. When trying in a text editor, it does not paste the images.

## Screenshots
<img width="546" alt="Screen Shot 2020-11-18 at 09 45 52" src="https://user-images.githubusercontent.c

[2020-11-18 12:50] panchovm opened #205 "Clickable area in collapsed question"
## Description
The hover style of a collapsed version must have the following styles:
1. The clickable area for expanding the question is the whole box.
2. The hover state changes its border color to indicate that is interactable.

## Expectation
See the documentation in the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=797%3A1224&viewport=-3028%2C-376%2

[2020-11-18 12:54] panchovm opened #206 "Copy action is not working in plain text tab"
## Description
In the attribution section, **Print Work or Media** tab, the `copy` button of plain text is not working.

<img width="636" alt="Screen Shot 2020-11-18 at 09 53 47" src="https://user-images.githubusercontent.com/895819/99533022-f7d02500-2983-11eb-8afa-576324f7afd1.png">

[2020-11-18 12:59] panchovm opened #207 "Correct the attribution information for the CC0 license"
## Description
In the attribution section, the text displayed for CC0 license should say `is marked with` instead of `is licensed under`. As CC Search works.

[2020-11-18 13:28] panchovm opened #208 "ShareALike does not remove when changing the answer"
## Description
When answering `Yes. Others can remix, adapt, or build upon my work` in Q4. Then when users reach the Q5 but back to Q4 to select `No. Others may only use my work in unadapted form.`, the **SA icon and meaning bullet** does not remove from the Recommended License section.

## Expectation
The **SA icon and definition** should remove from the Recommended License section.

## Screensho

[2020-11-18 14:05] panchovm opened #209 "Modals load on top of the page"
## Description
When clicking on a FAQ question, the modal moves the page to the top and displays the info. This interaction requires that users then need to go down to see the remained questions.

## Expectation
Display the modal over the same section where the user is. In that way, after closing the modal, the FAQ section is visible on the screen.

[2020-11-19 13:10] panchovm opened #210 "Delete the "/" in link within the rich text format"
## Description
The license link has a `/` that breaks it and can not be opened.

<img width="333" alt="Screen Shot 2020-11-19 at 1 05 16 PM" src="https://user-images.githubusercontent.com/895819/99670514-6cbc6100-2a4f-11eb-833f-bc35f86acd63.png">

## Expectation
We need to delete the `/` between the `0` and `?`. It should be `/by/4.0?ref=` instead of `/by/4.0/?ref=`

[2020-11-19 13:22] panchovm opened #211 "Add an interaction to keep questions on view"
## Problem
During tests, we identified that users with smaller screens can lose the next question when selecting answers on the left side. Especially in the attribution question. We have not tested on mobile resolutions but we are aware that it requires scrolling down to see the next question.

## Description
We need to add an interaction that keeps the current question on view. Both desktop and m

[2020-11-20 16:32] panchovm opened #212 "Implement the mockups for release v2"
## Description
After the round of 12 test. We identified different issues with regard to interaction, content, and value proposition of the Chooser. For this v2 update, [the mockups](https://www.figma.com/file/NnTin7MBlEuG2Hxb6T94ZH/Mockup---2nd-release?node-id=91%3A0&viewport=163%2C217%2C0.051361385732889175) have been updated based on Vocabulary. The main changes are:
1. **Components update base

[2020-11-23 15:04] annatuma opened #213 "Content changes for License Chooser"
Relates to item 2 in this meta ticket: https://github.com/creativecommons/chooser/issues/212

The following content changes need to be made to the License Chooser alongside the design update:

- Page title and subtitle
-- The page title is now "License Chooser". The subtitle has been updated to read "Follow the steps to select the appropriate license for your work.  This site does not store any in

[2020-11-23 19:13] panchovm opened #214 "Add breadcrumb component"
## Description
Based on the new [mockups (2nd release)](https://www.figma.com/file/NnTin7MBlEuG2Hxb6T94ZH/Mockup---2nd-release?node-id=91%3A0&viewport=151%2C234%2C0.04611111059784889), we need to add the breadcrumb component to show the parent pages. This component has a responsive version indicated in the Design Library.

<img width="806" alt="Screen Shot 2020-11-23 at 16 13 39" src="https://user

[2020-11-23 19:16] panchovm opened #215 "Implement the spacings in all pages"
## Description
Based on the new [mockups (2nd release)](https://www.figma.com/file/NnTin7MBlEuG2Hxb6T94ZH/Mockup---2nd-release?node-id=91%3A0&viewport=203%2C125%2C0.07722222059965134), we need to update the spacings used in all pages. All sections are using spacings for margins and paddings.

[2020-11-23 19:18] panchovm opened #216 "Move the FAQ to the end of left section"
## Description
Based on the mockups (2nd release), we need to move the FAQ section below the questions on the left. The behavior should be the same as current, display the answer in a modal.

<img width="463" alt="Screen Shot 2020-11-23 at 16 18 29" src="https://user-images.githubusercontent.com/895819/100005329-88a16900-2da7-11eb-90b5-bc6c93e91d68.png">

[2020-11-23 19:24] panchovm opened #217 "Update the content structure of recommended section"
## Description
Based on the [mockups (2nd release)](https://www.figma.com/file/NnTin7MBlEuG2Hxb6T94ZH/Mockup---2nd-release?node-id=91%3A0&viewport=-7339%2C360%2C0.8220664858818054), we need to update the content structure in recommended section to match the License redesign project.

The structure goes as:
- License icons + License abbreviation
- Full license name
- License description
- List of C

[2020-11-23 19:29] panchovm opened #218 "Actions to finish and start again the process"
## Description
Based on the [mockups (2nd release)](https://www.figma.com/file/NnTin7MBlEuG2Hxb6T94ZH/Mockup---2nd-release?node-id=91%3A0&viewport=-8998%2C-180%2C0.8576911687850952), we need to include two actions in the final question on left:
- **Done:** Applies a slightly shake effect on the **Mark your work** section
- **(*) Start again:** Start the process from Question 1

<img width="590" al

[2020-11-23 19:37] panchovm opened #219 "Update the Mark your work section"
## Description
Based on the [mockups (2nd release)](https://www.figma.com/file/NnTin7MBlEuG2Hxb6T94ZH/Mockup---2nd-release?node-id=91%3A0&viewport=-9350%2C-178%2C0.8576911687850952), we need to update the **Mark your work** section with the following changes:

- Replace the title from "Use your license" to "Mark your work".
- Update the toolbox by using the [box tab component](https://www.figma.co

[2020-11-23 19:39] panchovm opened #220 "Update spacings and text styles for mobile breakpoint"
## Description
Based on the [mobile version of mockups (2nd release)](https://www.figma.com/file/NnTin7MBlEuG2Hxb6T94ZH/Mockup---2nd-release?node-id=912%3A74&viewport=343%2C45%2C0.17181240022182465). We need to update the following:
- Spacings for margins and paddings.
- Text styles of all content displayed.

<img width="1166" alt="Screen Shot 2020-11-23 at 16 39 26" src="https://user-images.githu

[2020-11-23 19:43] panchovm commented on #212
This ticket was updated by linking all tickets created for content and design changes.

[2020-11-25 06:06] obulat commented on #207
The text should change according to the chosen license: "marked with" for CC 0 and "licensed under" for others. The linked PR just replaced one with the other, so it doesn't solve this issue.

[2020-11-25 09:12] obulat opened #222 "Use Vocabulary VButton component"
## Description

This issue is part of the larger project of replacing third-party components with CC Vocabulary components. Buefy buttons need to be replaced with VButton from Vocabulary.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-11-25 09:13] obulat opened #223 "Use Vocabulary components for Radio and Checkbox"
This issue is part of the larger project of replacing third-party components with CC Vocabulary components. Buefy radio and checkboxes need to be replaced with VRadio and VCheckbox from Vocabulary.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-11-25 09:15] obulat opened #224 "Use Vocabulary VInput component"
## Description

This issue is part of the larger project of replacing third-party components with CC Vocabulary components. Buefy inputs (text inputs and textareas) need to be replaced with VInput from Vocabulary.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-11-25 09:18] obulat opened #225 "Use Vocabulary Tabs component"
## Description

This issue is part of the larger project of replacing third-party components with CC Vocabulary components. Buefy tabs need to be replaced with Tabs from Vocabulary.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-11-25 09:21] obulat opened #226 "Use Vocabulary AppModal component"
## Description

This issue is part of the larger project of replacing third-party components with CC Vocabulary components. Buefy modals need to be replaced with AppModal from Vocabulary.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-11-25 09:22] obulat opened #227 "Use Vocabulary select component"
## Description

This issue is part of the larger project of replacing third-party components with CC Vocabulary components. Buefy select component needs to be replaced with select from Vocabulary.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-11-25 09:23] obulat opened #228 "Use Vocabulary Icon component"
## Description

This issue is part of the larger project of replacing third-party components with CC Vocabulary components. Fontawesome icons and buefy icon components need to be replaced with Vocabulary icons. This issue is blocked because Vocabulary icons are not yet implemented in Vue.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-11-25 09:23] obulat opened #229 "[META] Replace buefy with Vocabulary"
## Description

This Meta issue will track the transition from buefy to Vocabulary, the CreativeCommons design system. The following components need to be replaced:
- [x] radio: [issue#223](https://github.com/creativecommons/chooser/issues/223)
- [x] checkbox: [issue#223](https://github.com/creativecommons/chooser/issues/223)
- [x] input field (text and textarea): [issue#224](https://github.com/cr

[2020-11-28 19:48] obulat commented on #208
I couldn't reproduce this on chooser-beta:
![de8eab831b562885dc923d451bedd29a](https://user-images.githubusercontent.com/15233243/100524744-750f4d00-316f-11eb-83de-8599a846c550.gif)

[2020-11-28 21:10] #206 closed

[2020-11-30 07:51] #208 closed

[2020-11-30 22:30] Aspie96 commented on #204
Actually I tried it and it copies it correctly.

The link is correct except for the issue in #210 and the icons are copied (although they are too small if pasted on OpenOffice Writer for some reason).

[2020-11-30 22:35] Aspie96 commented on #204
The reason for the size of the icons when pasted has to do with the "rem" unit of measurement.

If I change it to "em", writing in .attribution-tab .photo-license-icon "height: 1.4em" the icons appear of the exact same size as they currently do in the browser, but they become too large (instead of too small) in OpenOffice

[2020-11-30 22:43] Aspie96 commented on #199
It alread is a tag "A", but I am not sure it is more semantic. I think a tag BUTTON might be more semantic, given that it is a button.
Also I wonder if it should actually be a form and if the button should be a submit button, both for semantic reasons and because it really should respond to "enter".

[2020-11-30 22:44] Aspie96 commented on #196
Both are correct, but I think linking to the second one would be better, since creativecommons.org is more known and user friendly than the wiki.

[2020-11-30 22:45] Aspie96 commented on #193
I agree this is a bug.

[2020-11-30 22:55] Aspie96 commented on #216
On desktop there is more than enough space on the right side.

I suggest it actually looks better as is. On mobile the FAQ are to the bottom already.

[2020-12-02 08:21] obulat commented on #204
The current version copies icons correctly to Word (I use WPS Office). Google Docs, however, shows image title (or alt text, I'm not sure) because it can't paste svg.

I've tinkered a little more with the copying of the rich text, and found a couple of things:
1. The best way of making icon sizes consistent I found was to actually set the width and height of the `img` inline, as that gets respecte

[2020-12-02 08:31] #222 closed

[2020-12-02 08:38] obulat commented on #199
@Aspie96 , I have merged a PR that adds the Vocabulary button components that are actually buttons, not links. So, now a user can navigate to a radio input using <kbd>Tab</kbd>, select the necessary radio input using <kbd>Space</kbd>/arrow buttons/<kbd>Enter</kbd> , then navigate to the correct button with <kbd>Tab</kbd> and go to the next step by clicking <kbd>Enter</kbd>.

This Issue is closed b

[2020-12-02 08:38] #199 closed

[2020-12-02 11:21] #223 closed

[2020-12-02 11:40] #210 closed

[2020-12-05 07:48] #207 closed

[2020-12-07 19:23] #214 closed

[2020-12-08 16:09] #193 closed

[2020-12-08 21:00] #219 closed

[2020-12-08 21:00] #225 closed

[2020-12-09 04:58] #213 closed

[2020-12-09 13:50] #205 closed

[2020-12-10 17:52] kgodey opened #249 "CC0 image error"
Reported via email:

[2020-12-10 18:16] neeraj-is-coding commented on #249
Can I take it?

[2020-12-10 18:19] neeraj-2 commented on #249
@kgodey ,Can I work on it?

[2020-12-11 05:41] obulat commented on #249
Thank you for reporting this issue, it is VERY important.  I've fixed this in [#195](https://github.com/creativecommons/chooser/pull/195), and it will go live when we deploy the latest version of the Chooser. So this issue can be closed.

[2020-12-11 05:41] #249 closed

[2020-12-15 06:25] #217 closed

[2020-12-15 10:42] #209 closed

[2020-12-15 10:42] #216 closed

[2020-12-15 10:42] #226 closed

[2020-12-15 13:35] #215 closed

[2020-12-15 13:35] #220 closed

[2020-12-16 14:03] panchovm opened #255 "Color in number indicator within step box"
## Description
The step number in the top-left corner of the box is using an incorrect green color. It should be the `$color-forest-green`

## Screenshots
<img width="222" alt="Screen Shot 2020-12-16 at 11 02 45" src="https://user-images.githubusercontent.com/895819/102358415-3dd1d600-3f8e-11eb-86ec-919819a1685f.png">

[2020-12-16 14:09] panchovm opened #256 "Hover style of default links"
## Description
The default links change from tomato to black, plus an underline, during hover state. The color should not change, only adding the underline style.

## Screenshots
<img width="343" alt="Screen Shot 2020-12-16 at 11 08 46" src="https://user-images.githubusercontent.com/895819/102359067-162f3d80-3f8f-11eb-9a0d-cb8b73de4012.png">

[2020-12-16 14:14] panchovm opened #257 "Text color in descriptions"
## Description
The chooser description, below the main title, and the license description are using a different color for the default text. It should be the `$color-dark-slate-gray` for all body content across all the site.

## Screenshots
<img width="666" alt="Screen Shot 2020-12-16 at 11 09 31" src="https://user-images.githubusercontent.com/895819/102359651-d1f06d00-3f8f-11eb-8111-583b81cd5ecc.p

[2020-12-16 14:20] panchovm opened #258 "Content repeated in the NC description"
## Description
In the license definition section, the NC has repeated the Noncommercial meaning.

## Screenshots
<img width="621" alt="Screen Shot 2020-12-16 at 11 19 26" src="https://user-images.githubusercontent.com/895819/102360395-b8035a00-3f90-11eb-8ed2-6b5369f7b641.png">

[2020-12-16 14:36] neeraj-2 commented on #255
@panchovm, can I take it?

[2020-12-16 14:37] panchovm opened #259 "Text style in the name of input component"
## Description
The text style of the input name should have a different font-weight. This is a component change.

## Screenshots
<img width="232" alt="Screen Shot 2020-12-16 at 11 36 01" src="https://user-images.githubusercontent.com/895819/102362337-07e32080-3f93-11eb-94f2-c330b68583de.png">

[2020-12-16 14:53] panchovm opened #260 "Defult size of text area in Waive Your Copyright question"
## Description
The height of textarea component in Waive Your Copyright question looks too small. I suggest setting a default height of `270px` in order to make it more visible.

## Screenshots
<img width="576" alt="Screen Shot 2020-12-16 at 11 42 35" src="https://user-images.githubusercontent.com/895819/102364419-2ea25680-3f95-11eb-998d-c3658645f4b4.png">

[2020-12-16 15:28] panchovm opened #261 "Y position of question box"
## Description
**Resolution: Mobile**
After answering a question, the Y position of the following box does not fit the display view.

## Screenshots
<img width="334" alt="Screen Shot 2020-12-16 at 12 24 46" src="https://user-images.githubusercontent.com/895819/102368858-197bf680-3f9a-11eb-9a52-590b1abc0c8d.png">

[2020-12-16 15:38] panchovm opened #262 "Text style and alignment in radio component"
## Problem
Viewing the site on a mobile device, the radio component might improve the following issues:
1. Font-size of radio component is too small in comparison to the question's font-size. We might try the `body-normal` style.
2. The spacing between title and radio looks too big. We might try `16px` instead of `24px`

## Screenshot
<img width="294" alt="Screen Shot 2020-12-16 at 12 35 35" src="

[2020-12-16 16:00] obulat commented on #255
Sure, go ahead! The vocabulary variables are not imported in the Chooser yet, so you will have to use the color value itself. Here is the code for the color:
https://github.com/creativecommons/chooser/blob/aedf03bb3e2fcffc77c9597de5beff992f662068/src/components/StepHeader.vue#L109

[2020-12-16 16:23] neeraj-2 commented on #255
Thanks, @obulat :)

[2020-12-16 16:46] neeraj-2 commented on #256
I would like to work on it. Can I?

[2020-12-16 17:33] #255 closed

[2020-12-16 18:17] panchovm opened #264 "The attribution text is copied wrongly on mobile"
## Description
When copying the attribution text on mobile, it copies the following text structure:

## Screenshots
![IMG_8041](https://user-images.githubusercontent.com/895819/102389350-c01fc180-3fb1-11eb-9f71-51ca6c1b55bd.jpg)
![IMG_8042](https://user-images.githubusercontent.com/895819/102389351-c150ee80-3fb1-11eb-90dd-3200bfffbcc4.jpg)

[2020-12-16 18:25] neeraj-2 commented on #259
I would like to take this up.

[2020-12-16 18:31] panchovm opened #265 "Text style in line tab component"
## Problem
Based on the mockup, the line tab component in the **Mark your work** section changes to a select. The current implementation looks better than the mockup, but I recommend using the `Heading 6B` style for the labels.

## Screenshot
<img width="353" alt="Screen Shot 2020-12-16 at 15 31 37" src="https://user-images.githubusercontent.com/895819/102390932-cdd64680-3fb3-11eb-8d4c-62f1a46d34f

[2020-12-16 19:10] rohan-goel commented on #262
Hey, I would like to work on this issue.

[2020-12-16 19:10] rohan-goel commented on #260
Hey, I would like to work on this issue.

[2020-12-16 19:10] rohan-goel commented on #258
Hey, I would like to work on this issue.

[2020-12-16 19:10] rohan-goel commented on #257
Hey, I would like to work on this issue.

[2020-12-17 05:15] obulat commented on #262
Sure, @rohan-goel , go ahead!

[2020-12-17 08:18] obulat commented on #264
This definitely looks weird. Could you tell me what phone you are using and which link do you use to preview?  I tried on my phone, and it works fine, although the license icons are pasted only to MS Word, not Google docs.

[2020-12-17 08:59] obulat commented on #122
Closing this issue as outdated.

[2020-12-17 08:59] #122 closed

[2020-12-17 10:16] obulat commented on #192
The new modal has been implemented, and from what I can see in Firefox, the problem has been solved (although not deployed yet).

[2020-12-17 10:16] #192 closed

[2020-12-17 10:20] obulat commented on #121
This issue has been solved.

[2020-12-17 10:20] #121 closed

[2020-12-17 11:59] panchovm commented on #264
I am on firefox, iPhone 6S, and pasted on Bear app.

[2020-12-17 13:16] rohan-goel commented on #258
I'm unable to replicate this issue, how should I replicate it ??

[2020-12-17 13:33] obulat commented on #258
@rohan-goel , the problem is here:
https://github.com/creativecommons/chooser/blob/94bd9253e79ec7a8563fca45b628c84243ad2400/src/components/LicenseDetailsCard.vue#L37
You might not be able to replicate it if your Chooser fork is not up-to-date. This regression was introduced recently.

[2020-12-17 13:42] obulat commented on #257
@panchovm , the color in the Figma design is black... It should still be $color-dark-slate-gray?

[2020-12-17 14:06] panchovm commented on #257
Oh! You are right. That is my mistake. And yes, it should be $color-dark-slate-gray. Although my understanding is that icons are black, if it so, then icons should keep being black.

[2020-12-17 14:09] obulat commented on #257
So, license icons should be black, and the text $color-dark-slate-gray? (#333333)

[2020-12-17 14:15] panchovm commented on #257
Yes 👍

[2020-12-17 18:54] #256 closed

[2020-12-17 18:55] #258 closed

[2020-12-17 18:57] #257 closed

[2020-12-18 12:23] obulat commented on #262
Closed by #277

[2020-12-18 12:23] #262 closed

[2020-12-19 16:29] ryuk156 commented on #265
Can i work on this?

[2020-12-20 21:17] Cronus1007 commented on #265
@ryuk156 I am already working on this issue.

[2020-12-21 04:38] ryuk156 commented on #265
No problem  @Cronus1007 go ahead 👍

[2020-12-22 14:54] Cronus1007 commented on #264
![Screenshot from 2020-12-22 20-21-27](https://user-images.githubusercontent.com/56436023/102901193-56148a00-4493-11eb-8ec2-f111f1e427c8.png)
![Screenshot from 2020-12-22 20-22-53](https://user-images.githubusercontent.com/56436023/102901351-83f9ce80-4493-11eb-8b51-d7a829421c39.png)
@panchovm  Everything is working fine.

[2020-12-22 16:21] Cronus1007 opened #278 "Document JavaScript coding guidelines"
### Issue Description
I intend to write guidelines and base configuration files for working with JavaScript in Creative Commons projects. This will include:

- Best practices
- Prettier configuration
- Eslint configuration
- JSON formatting
- Vue standards

This will most likely live on the open source site, and perhaps the wiki. We don't have existing language guides so this would possibly be the

[2020-12-22 16:22] Cronus1007 commented on #278
@obulat  i would like to work on this issue as well

[2020-12-22 16:40] bryanlaura736 commented on #278
Please do!!

[2021-01-04 10:03] Cronus1007 commented on #58
@akmadian For internalization `i18n` can be a preffered npm library and I would like to work on this issue.

[2021-01-04 13:31] panchovm commented on #264
I think it was an issue with the app I was using. Closing this issue.

[2021-01-04 13:31] #264 closed

[2021-01-04 16:59] obulat commented on #261
This issue was solved in #253.

[2021-01-04 16:59] #261 closed

[2021-01-04 17:00] obulat commented on #260
This issue was solved in #253.

[2021-01-04 17:00] #260 closed

[2021-01-04 17:01] obulat commented on #204
This issue has been solved by #252.

[2021-01-04 17:01] #204 closed

[2021-01-04 17:02] obulat commented on #211
This issue has been solved in #253.

[2021-01-04 17:02] #211 closed

[2021-01-04 17:03] obulat commented on #218
This issue has been solved in #253.

[2021-01-04 17:03] #218 closed

[2021-01-04 17:05] obulat commented on #58
@Cronus1007, this is a stale issue.
Closing this issue as i18n and Transifex have already been integrated into the Chooser.

[2021-01-04 17:05] #58 closed

[2021-01-04 17:23] obulat commented on #212
All the sub-issues of this meta issue have been solved.

[2021-01-04 17:23] #212 closed

[2021-01-05 04:55] obulat commented on #278
@Cronus1007 The Javascript guidelines should be written centrally, for all of the Creative Commons repositories, and then applied everywhere. Chooser repo is not a place for separate guidelines, so I am closing this issue here. Work on the coding guidelines should continue in another repo.

[2021-01-05 04:55] #278 closed

[2021-01-05 07:55] akshayprabhu200 commented on #265
Is this issue open?

[2021-01-05 08:25] Cronus1007 commented on #265
@akshayprabhu200  By EOD I am going to send the PR fixing the issue soon.

[2021-01-05 13:15] obulat opened #279 "Large bundle size"
## Description

Currently, the Chooser's bundle size is quite large for a single page.

## Reproduction

1. Run `npm run build` in the Chooser, or generate Lighthouse report in Google Chrome.
2. See problem.

These are webpack build warnings:
[code]

And here is a part of the Lighthouse report:
![image](https://user-images.githubusercontent.com/15233243/103649612-994f0e00-4f13-11eb-8784-dc88776539

[2021-01-06 12:10] koolgax99 commented on #229
can i work on this issue?

[2021-01-06 12:56] koolgax99 commented on #279
can you please assign me this issue @obulat

[2021-01-06 20:13] Cronus1007 commented on #278
@obulat  I want to edit this file since `editorconfig` lacks a lot and missing config for  `js` speciffically and then it is upto the editor how it will lint our files and errors may occur. So for the best practice we should edit our `editorconfig` and shall reopen this issue.

[2021-01-07 07:06] obulat opened #283 "Change the tomato color to make it accessible"
## Problem

The Help links in the Chooser are of color `tomato`. When it is on the `light-gray` background, the contrast does not meet accessibility standards.
![Tomato links on the light gray background](https://user-images.githubusercontent.com/15233243/103862297-aaaf2c00-5073-11eb-8f46-825811f10b32.png)
![Contrast check](https://user-images.githubusercontent.com/15233243/103862303-ad118600-5073

[2021-01-07 07:09] obulat commented on #278
@Cronus1007 In order to not do the same things twice, it is best to add `editorconfig` here AFTER it has been agreed on in Vocabulary, so the coding style is the same across all JS repos.

[2021-01-07 07:12] rohan-goel commented on #283
Hey, I would like to work on this issue.

[2021-01-07 07:14] obulat commented on #283
Sure, @rohan-goel , go ahead!

[2021-01-07 07:26] obulat opened #284 "CD is failing due to authorization issue"
## Description

Chooser repo has github actions configured to deploy the site on push to the `master` branch. However, it is failing because I am not authorized to push into the master branch without an approved review.

## Reproduction

1. Merge a change into the master branch.
2. Review the logs from github 'Publish' action
3. See error.

## Expectation

The site should be published to github pa

[2021-01-07 13:06] #265 closed

[2021-01-07 13:06] #283 closed

[2021-01-07 13:06] #227 closed

[2021-01-07 13:20] obulat commented on #228
Closing this issue because the `font-awesome` icons have been replaced with Vocabulary Icons or png icons from the assets folder for the rich text license text.

[2021-01-07 13:20] #228 closed

[2021-01-07 14:41] obulat commented on #279
Sorry, @koolgax99 , I am already working on this.

[2021-01-07 17:19] Cronus1007 commented on #93
@akmadian Shall I take over this issue .

[2021-01-07 18:36] Cronus1007 commented on #99
@obulat  Just a suggestion shall we implement `cypress` for getting the code coverage and as per my observation code coverage tool is missing in the repo.

[2021-01-07 18:47] koolgax99 commented on #279
Okay @obulat. Can you assign me some issues and help me in understanding the codebase?

[2021-01-08 11:57] Yashs911 commented on #196
@fkohrt I would like to work on this issue

[2021-01-08 12:30] fkohrt opened #286 "Use of non-canonical license URIs"
## Description

The canonical URIs of the CC licenses all start with `http://`, as can be verified by the [RDF source of truth](https://creativecommons.org/licenses/index.rdf). The [scheme is part of the URI](https://www.w3.org/blog/2016/05/https-and-the-semantic-weblinked-data/), so there's a semantic difference between <code><strong>http://</strong>creativecommons.org/licenses/by/4.0/</code> and

[2021-01-08 12:41] obulat commented on #286
Thank you for bringing this issue up, @fkohrt ! I will respond as soon as we have discussed this issue with the other members of the team.

[2021-01-08 12:43] obulat commented on #196
While I completely agree that the creativecommons page is better in terms of user-friendliness, currently we cannot link to the specific section of the text there ('Consideration for licensEE/licensORs'), so I think until we add the section anchors on creativecommons.org, it's better to leave it as is.

[2021-01-08 13:15] fkohrt commented on #196
I originally raised the issue because I thought there might be differences in what is kept up to date. From a readability perspective I'd actually prefer to read the wiki page at the moment because it has a table of contents and more dense vertical spacing. I feel a little bit lost on the respective site at creativecommons.org.

[2021-01-09 05:40] obulat opened #287 "Make the build process cross-platform"
## Problem

Currently, the build process uses bash commands to move the built files from the `dist` folder to the `docs` folder for publishing:
https://github.com/creativecommons/chooser/blob/1174e484b71ae62b649138237251c970b925a26a/package.json#L14

This makes it only work on Unix systems.

## Description

To make this process cross-platform, we can replace the bash `rm -f -r` commands with [rimr

[2021-01-09 06:28] rohan-goel commented on #287
Hey, I would like to work on this issue.

[2021-01-09 07:15] Cronus1007 commented on #287
@rohan-goel I am already on this issue.

[2021-01-09 07:42] obulat commented on #287
To avoid conflicts, we ask you to first comment on an issue before starting work. @rohan-goel was first to comment on  this issue, so I am waiting for @rohan-goel 's contribution first.
If you see no activity on this issue for 7 days, then you are welcome to claim it, @Cronus1007 . If you have any questions regarding contributions,  you can read the Guidelines here: https://opensource.creativecomm

[2021-01-09 08:38] rohan-goel commented on #287
Thanks, @obulat !!

[2021-01-09 13:12] Aspie96 opened #288 ""This work marked""
## Description
When a work is marked under CC0 it should say: "this work IS marked under CC0". The verb is missing

## Reproduction

1. Generate a CC0 license waive2
2. It will say "this work marked under" with no "is".

## Expectation
It should make grammatical sense.

## Resolution
- [ ] I would be interested in resolving this bug.

[2021-01-09 13:36] obulat commented on #288
Thank you for your report, @Aspie96 , great catch!

[2021-01-09 13:54] neeraj-2 commented on #288
Can I work on it?

[2021-01-09 14:01] obulat commented on #288
Sure, go ahead, @neeraj-2! You would need to edit the `locales\en.js` file, specifically the `marked-text` field.

[2021-01-09 14:02] Aspie96 commented on #288
Question!

Should it be, instead, "this work is marked WITH CC0"? The word "with" makes more sense with "marked" to me.

[2021-01-09 14:05] obulat commented on #288
That's correct, it should be "this work **is** marked **with** CC0". Actually, the current version already says 'with', so we only need to add 'is'.

[2021-01-09 14:20] Aspie96 commented on #288
Apologize, I misread it.

[2021-01-09 14:24] obulat commented on #288
No problem! Thank you for reviewing the copy, @Aspie96 !

[2021-01-09 14:56] #287 closed

[2021-01-09 15:00] obulat commented on #93
This issue is marked `staff-only`, @Cronus1007 , and it needs more discussion.

[2021-01-09 15:50] neeraj-2 commented on #288
Hey @obulat and @Aspie96. I noticed something. I think the typo is in the deployed version only. When I run the project locally , it is errorless. I have attached the screenshot of the same here.

![image](https://user-images.githubusercontent.com/56186425/104096105-7bd9c580-52c0-11eb-9ae6-589b39a5fb7d.png)

[2021-01-09 15:58] obulat commented on #288
@neeraj-2 , I notice that your repo is quite behind upstream. This error was probably introduced recently. Could you update your branch and fix the error?

[2021-01-09 16:00] neeraj-2 commented on #288
Oh. Thanks, @obulat for pointing it out. I will update it and will create a PR

[2021-01-09 16:32] Aspie96 opened #292 "Double "rel" attribute"
## Description
The code currently generated by the license chooser contains the following tag:
`<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">`

The first "rel" attribute should be removed.

## Resolution
- [ ] I would be interested in resolving this bug.

[2021-01-09 16:34] obulat commented on #292
Thank you for reporting this issue, @Aspie96 !

[2021-01-09 16:37] Cronus1007 opened #293 "Implement Tools for enhancing the code quality and developer experience."
## Problem
The `chooser` repo lacks in various terms. Enlisting a few like

1. CI/CD integration while formation of a pull request like TravisCI,CircleCI
2. Codecov tools like Codecov
3. Dependabot-preview  for regulating the dependencies.

## Description
The reports formed by ci/cd and codecov tools will lead to better maintenance of the repo in the long run.
Dependabot is a widely accepted pract

[2021-01-09 16:44] neeraj-2 commented on #292
I would like to work on this issue. Can I?

[2021-01-09 16:48] Cronus1007 opened #294 "Shifting e2e testing from nightwatch to cypress"
## Problem and Reasons
A suggestion from my side is that nightwatch being a powerful tool for e2e testing but when it comes to cypress it is far better than nightwatch in my opinion
The enlisted reasons are :-
1.Since chooser is a purely vue/js based repo so cypress is highly recommended for js repos.
2. Also provides Parallel execuion while passing a --parallel flag
3. Cross Browser Testing
4. Mu

[2021-01-09 17:15] Aspie96 commented on #292
I could be wrong but for issues this small, @neeraj-2, I would probably just file a PR without asking first.
Asking makes sense for complex tasks to avoid duplication of effort.

[2021-01-09 17:59] #288 closed

[2021-01-09 18:00] obulat commented on #292
Sure, @neeraj-2 , please go ahead

[2021-01-10 04:35] obulat commented on #293
Thank you, @Cronus.
The Chooser already has a CI/CD setup through Github actions. You can see it work in this screenshot, where one of the PRs has a red cross next to it, instead of a green tick, due to the failing tests:
![image](https://user-images.githubusercontent.com/15233243/104114378-960fa580-52b8-11eb-99a3-0211ff2e76d7.png)

Code coverage is not checked during the CI process, but we do ins

[2021-01-10 04:35] #293 closed

[2021-01-10 05:12] obulat commented on #294
I support moving the e2e testing from Nightwatch to Cypress, for several reasons:

1. Stability of the tests thanks to automatic waiting. The current e2e tests in the Chooser often fail because an element is not interactable. This was made worse when we added automatic scrolling after a step is complete.
2. Debuggability of the tests.
3. Parallel execution feature.
4. Cypress is used in other CC r

[2021-01-10 06:59] #292 closed

[2021-01-10 12:50] obulat opened #296 "Make link to work always an absolute URL"
## Description

When a user fills in the Attribution Details form, 'Mark your work' section is automatically updated. The URL from 'Link to Work' field is used as the URL for `href` attribute for the `<a>` anchor tag that includes the link to work in the RichText and HTML boxes.

Currently, if a user provides a URL without the leading `http`, the `workUrl` computed prop adds `http://` to the start

[2021-01-10 12:52] neeraj-2 commented on #296
I would like to work on it. Can I?

[2021-01-10 12:56] obulat commented on #296
Sure, go ahead, @neeraj-2 !

[2021-01-10 13:17] obulat opened #297 "Link to work not displayed in HTML attribution code if no work title provided"
## Description

When the user provides a link to work, but does not provide a title, HTML attribution code in the 'MARK YOUR WORK' should add a link with `href` of the user-provided link, and text of 'This work'. Because there is no title, there should not be the `property="dct:title"` attribute:

```<a rel="cc:attributionURL"  href="http://www.example.com/picture.jpg">This work</a> ```

Instead,

[2021-01-10 13:21] rohan-goel commented on #297
Can I work on this issue?

[2021-01-10 13:23] obulat commented on #297
Sure, @rohan-goel , go ahead!

[2021-01-10 13:32] Cronus1007 commented on #294
@obulat  Sure I will raise a PR.

[2021-01-11 13:02] Cronus1007 commented on #99
@obulat  There is a need to reopen the issues down

![Screenshot from 2021-01-11 18-21-07](https://user-images.githubusercontent.com/56436023/104185613-3392e280-543b-11eb-887d-7f15b8a20200.png)

[2021-01-11 13:18] #294 closed

[2021-01-11 13:24] Cronus1007 commented on #143
@hemanth-hk  Are you currently working on this issue. If not shall I take over this issue.

[2021-01-11 20:08] #296 closed

[2021-01-12 13:36] neeraj-2 commented on #177
@obulat, is this issue still available to work upon?

[2021-01-13 07:54] #297 closed

[2021-01-13 09:21] Cronus1007 commented on #95
@obulat Any updates regarding this issue.

[2021-01-13 09:26] obulat commented on #177
Yes, @neeraj-2 , it is. I've tried replicating it, and I see that although Richtext seems to be safe, if HTML code has something like `<img src="x" onerror="alert(document.cookie)"/>` for the title, and a user pastes it somewhere, this alerts the document cookie...
So, I guess we need sanitizing for the HTML generation. I am open to other suggestions, though.
What are you going to use for sanitizi

[2021-01-13 09:46] obulat commented on #95
@Cronus, this issue is not ready for work yet.

[2021-01-13 10:30] obulat opened #301 "Update @vue/test-utils"
## Problem

Chooser uses `@vue/test-utils` for unit testing. The version used is 1.0.0-beta.29. We need to update it to the most recent version, 1.1.2.

## Description

In addition to changing the package, we need to address breaking changes:

1. delete `isVueInstance` assertions
2. remove all checks that use `wrapper.name`.
3. replace checks with `wrapper.contains` with `wrapper.find().exists()).

[2021-01-13 10:34] Cronus1007 commented on #301
@obulat let me take over this issue.

[2021-01-13 10:38] obulat commented on #301
Sure, @Cronus1007, go ahead!

[2021-01-13 11:42] obulat opened #302 "Create Cypress integration test for Stepper"
## Problem

We need to have e2e tests for testing user interaction with the Chooser. Currently, we are using Selenium-based Nightwatch. However, after we added auto-scrolling, Stepper tests often fail because Nightwatch cannot find an element that is probably off-screen at the moment of testing.

## Description

We want to add a Cypress test spec for the Stepper instead of the Nightwatch spec.
In

[2021-01-13 12:10] Cronus1007 commented on #302
@obulat I definately want to go for this issue as well. So when I am finished with #301 then I will go for it.Until then assign it to me

[2021-01-13 12:13] obulat commented on #302
Sure, @Cronus1007 , I am waiting for your PRs.

[2021-01-13 17:42] neeraj-2 commented on #177
Thanks, @obulat for the information. Trying some approach. Will inform you asap.

[2021-01-14 15:19] #301 closed

[2021-01-15 10:00] ashu54-aseem opened #304 "Add component flowchart in the documentation"
In the  README.md, the flow of the project is not well explained. The aim is to add a flow chart to explain the function/component flow in a single cycle so that future contributors would not need to dive deep into dev tools to understand how the app works.

Below is an illustration attached to a workflow chart of a login feature.

![image](https://user-images.githubusercontent.com/72209771/104710

[2021-01-15 11:45] Cronus1007 commented on #304
@obulat Plzzz have a look at the issue.

[2021-01-17 12:29] yaduu572 opened #306 "Low contrast in the tabs of navigation bar"
The color scheme of tabs in the navigation bar does not pass the sufficient criteria as visible in lightHouse criteria of inspect.
As you can in the below image, the color contrast is less as compared to the required one in chrome.
![image](https://user-images.githubusercontent.com/53738878/104842789-0f2c7f80-58ed-11eb-888e-111715611d49.png)

[2021-01-17 13:27] obulat commented on #306
Thank you for raising this issue, @yaduu572 !
@panchovm , even after making the tomato color darker, the breadcrumb element does not pass contrast a11y requirements because for smaller texts contrast needs to be higher. What is the best thing to do here?

[2021-01-17 13:51] ashu54-aseem opened #307 "Adding keyboard navigation functionality."
At present, Chooser does not support navigating through the steps via keyboard. Hence to improve the accessibility, a simple functionality of triggering events of "Back" and "Next" buttons on keystrokes (probably with arrow keys or enter key) can be added.

[2021-01-17 14:01] obulat commented on #307
Could you explain exactly the keyboard navigation functionality you expect, @ashu54-aseem ?

Currently, you can navigate to the first step using a <kbd>Tab</kbd> key. With the focus inside the step, you can select a radio input using the <kbd>Space</kbd> or the <kbd>Enter</kbd> keys. Then you can again use the <kbd>Tab</kbd> key to navigate to the `Next` button, and use <kbd>Enter</kbd> key to go

[2021-01-17 14:20] ashu54-aseem commented on #307
My idea was to reduce the number of keystrokes involved in the steps and rather use left and right keys to go to the next or previous step as I think would be more intuitive (perhaps also adding a little tip at the top or side to let the user know) due to the reduced amount of keystrokes.

[2021-01-17 15:40] obulat commented on #307
I will discuss your suggestion with other members of the CC community.

However, my opinion on this is that using arrow keys<kbd>🠖</kbd> or <kbd>🠔</kbd> in this way (when the step is focused, i.e. when a radio group is focused) would interfere with the established UX pattern: when a radio input is focused, the left and up arrows move the focus to the previous radio input and select it, and the rig

[2021-01-18 12:15] panchovm commented on #306
Are we talking of tomato (`#C74200`) over lightergray (`#f5f5f5`)? I checked the contrast and it meets the AA level for normal and large sizes. Can you give me more details?

[2021-01-18 14:03] obulat commented on #306
Oh, sorry, @panchovm , there is a mix up on the Chooser web site: the help links have been changed to `#c74200`, but the breadcrumbs are still the previous tomato color. This will be changed as soon as we release the new Vocabulary version.

You are right, the new tomato color passes AA levels for normal text (although it fails the AAA levels):
![image](https://user-images.githubusercontent.com/15

[2021-01-18 14:03] #306 closed

[2021-01-18 15:20] Cronus1007 commented on #302
Plzzz give an extra explanation regarding these two points.

[2021-01-18 17:59] obulat commented on #302
For point 1, the flow is:
The user selects No (I need help selecting the license) in the first step.
In the second step, the user selects "No" to attribution, therefore selecting CC0.
When the user then clicks "Next", the next open step should be Copyright waiver. There, the user can check the waiver checkboxes and go to Attribution Details step.

[2021-01-19 00:26] Cronus1007 commented on #302
@obulat Yup in #305 everything is sorted now since https://github.com/creativecommons/chooser/tree/master/tests/e2e/specs
I have rewritten all of this code into Cypress.

[2021-01-19 07:32] Cronus1007 commented on #307
@obulat Any updates regarding this issue.

[2021-01-19 07:36] Cronus1007 commented on #177
@obulat Shall I take over this issue if @neeraj-2 is not working upon the issue.

[2021-01-19 08:49] neeraj-2 commented on #177
@Cronus1007, I am on it. Will give an update soon.

[2021-01-19 21:14] Cronus1007 commented on #177
@neeraj-2 If you require any help let me know. :)

[2021-01-19 23:21] zackkrida commented on #307
Hi @ashu54-aseem an important part of web accessibility is following established patterns of user behavior. The arrow key functionality you've described sounds nice in theory, but isn't common enough for us to consider in this project.

Thank you for your suggestion, but we are going to keep the existing keyboard navigation behavior.

[2021-01-19 23:21] #307 closed

[2021-01-20 04:09] obulat commented on #177
@zackkrida , we need your input on this issue :)

We have a form with two URLs and two text inputs for the Name of the Creator and Work Title. We use these data to create Rich Text and HTML string with attribution. What should we do to improve security on them?

From my understanding (after some testing and research) the URLs are sanitized, and even if users input javascript into them, the JS just

[2021-01-20 04:27] obulat opened #309 "Add CNAME and robots.txt to the public folder"
## Problem

Currently, Chooser's SEO score in Google Chrome's Lighthouse report is lowered because we don't have a `robots.txt` file.
Another problem is that we need to copy CNAME file to the docs folder to make sure that the beta Chooser is deployed properly. Currently, it is done using the `npm:build` script, but it makes the script unnecessarily long, and there is a better solution.

## Descrip

[2021-01-20 04:30] obulat commented on #304
I am not sure about the value it would provide. Could you create a sample specifically for the Chooser, @ashu54-aseem , so that we could see what you mean?

[2021-01-20 04:59] Cronus1007 commented on #309
@obulat Shall I implement this one.

[2021-01-20 05:55] Cronus1007 commented on #304
@obulat Since we are discussing the updation of documentation here.So shall we implement an automated technology to keep the  track of documentation and always keep it  up to date .

[2021-01-20 06:12] obulat commented on #309
@Cronus1007 I think you should finish the current PR before taking on other issues.

Bash scripts only work on Unix machines, so implementing this in a bash script would make our code not cross-platform, and I strongly oppose that.

The solution I describe in the issue description is much simpler, **and** it simplifies the scripts.

The npm `build` scripts will change from:
`"vue-cli-service build

[2021-01-20 06:20] rohan-goel commented on #309
@obulat I would like to work on this issue.

[2021-01-20 06:26] Cronus1007 commented on #309
@obulat  No I am going to implement this issue side by side. So thought of commenting.

Yes I agree with this part of yours.

[2021-01-20 06:44] obulat commented on #309
@rohan-goel Sure, go ahead!

[2021-01-20 12:45] #309 closed

[2021-01-20 20:57] zackkrida commented on #284
@obulat The best way to deal with this would to have a more formal release process, something like the following:

- For every deployment, make a Pull Request into master.
- This PR will bump the version number in `package.json` and in the `package-lock.json` (can use the command `npm version [major | minor | patch]` for this, which will also automatically create a git tag and commit)

[2021-01-21 13:49] ashu54-aseem commented on #304
@obulat I'm working on it. I'll present a rough version which would help clear things up.

[2021-01-21 15:30] #302 closed

[2021-01-21 16:11] Cronus1007 commented on #229
@obulat Any updates regarding this issue.

[2021-01-21 16:19] obulat commented on #229
As you can see from the checkboxes, all but one of the linked issued have been solved. The remaining issue has a  PR which needs a review, so this issue is not open for contribution.

[2021-01-21 18:07] #224 closed

[2021-01-21 18:07] #259 closed

[2021-01-21 18:08] obulat commented on #229
All the PRs have been merged, closing this issue.

[2021-01-21 18:08] #229 closed

[2021-01-21 18:09] obulat commented on #143
Closing this issue as not relevant now.

[2021-01-21 18:09] #143 closed

[2021-01-21 18:10] obulat commented on #99
Closing this issue as this is very old, and the code has changed a lot since this issue was opened.

[2021-01-21 18:10] #99 closed

[2021-01-24 13:05] ashu54-aseem commented on #304
![working](https://user-images.githubusercontent.com/72209771/105631116-bb80df80-5e72-11eb-9c3a-3601b61798e9.jpeg)

This is a rough sketch of what I was alluding to above. This could be of help as a handy guide to see the working of the project.

[2021-02-01 23:06] #284 closed

[2021-02-01 23:58] #279 closed

[2021-02-02 00:00] #197 closed

[2021-02-02 00:03] zackkrida commented on #177
I am going to close this issue. From a security perspective, we have a single user entering input and then using the output on their own site. Because they're both the creator and consumer of this input text, I don't think we need to worry about them inputting and then outputting malicious code for use on their own sites.

[2021-02-02 00:03] #177 closed

[2021-02-02 00:09] zackkrida commented on #202
I am going to move this to a more general location, as it is relevant to _any_ project using https://mirrors.creativecommons.org, not just this one. Thank you for sharing @Phuker

[2021-02-04 19:08] zackkrida opened #314 "Add step to determine appropriateness of CC licenses"
## Description

Users who aren't familiar with Creative Commons licenses might not know if the licenses are actually appropriate for their work and use case. We would like to add a step to the chooser that lets the user confirm a CC license is the right fit.

This issue will be updated with the exact copy, but in the meantime a **draft pull request** may be created that adds a 'generic' new second

[2021-02-04 19:11] neeraj-2 commented on #314
I would like to work on it. Can I?

[2021-02-04 19:16] zackkrida commented on #314
Sure @neeraj-2! Thanks.

[2021-02-08 18:24] zackkrida commented on #314
Hey @neeraj-2 will you be actively working on this this week? Just curious. Thank you!

[2021-02-08 18:32] neeraj-2 commented on #314
Yes, @zackkrida. I am actively working on this one right now. (What I did in last some days) was just doing some background research to have a start on this issue. Explored the  7 CC licenses and their details and looking at our chooser website to get through what details already exist and what I should add-in. And now want your guidance so that I can understand from where I should exactly start 😊

[2021-02-08 18:38] neeraj-2 commented on #314
Should I propose some interface on figma? Or something like that to have a start with this issue?

[2021-02-08 18:50] zackkrida commented on #314
It shouldn't require any design work; we need a new step added to the stepper (a new step 2) so the current step 2 becomes step 3. If they choose "no, i need help" it will go to the new step, otherwise it will still skip multiple steps the same way it currently works.

You can just use lorem ipsum / placeholder text for the new step.

<img width="512" alt="2021-02-08-137" src="https://user-images.

[2021-02-08 18:57] neeraj-2 commented on #314
Thanks, @zackkrida for the details. I Will create a Draft PR soon.

[2021-02-08 20:51] obulat commented on #314
Will this step have radio inputs, just like the first step? If so, we could add another step object to the list of step objects, and use the ChooserStep component for it.

[2021-02-09 00:00] RATED-R-SUNDRAM commented on #196
@fkohrt  I would like to work on this issue if no one else is currently working, can I?

[2021-02-09 01:15] Cronus1007 commented on #196
@RATED-R-SUNDRAM Since this issue has been labelled with `awaiting triage` so the issue is not ready for work yet.

[2021-02-09 01:20] Cronus1007 commented on #304
@obulat  Shall I start implementing this issue?

[2021-02-12 13:43] neeraj-2 commented on #314
Have just created a draft PR. But some work is still required. So, I am on it and will try to complete it by this week

[2021-02-14 08:35] Cronus1007 opened #316 "Rewrite unit tests"
## Description

### Bugs in unit test Cases

Whenever we run `npm run test` there are few uncovered lines and few console warnings so there is a need to update the tests to remove the console. warnings and make the tests updated.

### Bugs in e2e Test Cases

Few errors are occuring during the execution of the e2e tests with nightwatch and due to these errors `e2e testing`  of Cypress also gets blo

[2021-02-15 09:45] obulat opened #317 "Add pre-commit hooks"
## Problem

As discussed in #312, we can add some improvements to the general code organization and code quality, as well as bringing the Chooser code in line with the other CC code. Some of the necessary changes can be copied from the code in #312.

1. Change the indent size from 4 to 2 spaces.
2. Add prettier and stylelint.
3. Add a pre-commit check to ensure that all committed code is free of l

[2021-02-15 09:49] rohan-goel commented on #317
Hey @obulat , I would like to work on this issue.

[2021-02-15 10:20] Cronus1007 commented on #317
@obulat For adding `lint-staged` the first priority is going to implement the prettier configs in the form of `.prettierrc`. And then while calling the `lint-staged` pre-commit hook then call the `prettier --config (file referred) --write`.

[2021-02-15 11:05] obulat opened #318 "Add integration test for Mark Your Work section and its interaction with Stepper and Attribution Details Step"
## Problem

'Mark Your Work' section shows the license code for attribution purposes, in rich text, plain text, or HTML format.  It is updated automatically any time the license or attribution information (Creator name, etc.) is changed. The interaction of the 'Mark Your Work' section needs to be tested using Cypress tests.

## Description
This is the list of scenarios that need to be tested:
###

[2021-02-15 11:25] obulat commented on #316
Thank you for opening the issue, @Cronus1007 .  In fact, there are several issues here:

1. Unit tests
The tests we have now are fairly comprehensive. The warning that you can see running the unit tests comes from the scrolling library: since we use shallowMount, the 'Stepper' steps are not mounted during testing, and cannot be found. This warning can be disregarded.
There are some lines that are

[2021-02-15 11:25] #316 closed

[2021-02-15 11:38] Cronus1007 commented on #318
@obulat I would like to implement this issue.

[2021-02-15 11:44] obulat commented on #317
I have updated the issue text to add more necessary changes.

[2021-02-15 11:45] obulat commented on #317
@rohan-goel , I have updated the issue with more changes. If you are OK with them, please, go ahead and implement them!

[2021-02-15 11:46] obulat commented on #318
Sure, @Cronus1007 , go ahead!

[2021-02-15 11:53] obulat opened #319 "Accessibility: heading elements should be in a sequentially-descending order"
## Problem

The Chooser currently uses the `<h1>`-`<h6>` heading levels according to the design. Headings are used for creating the outline for a page, which is important for accessibility purposes. Skipping heading levels makes the outline, or website's table of contents, incorrect. This also lowers our Lighthouse Accessibility score:
![image](https://user-images.githubusercontent.com/15233243/10

[2021-02-15 11:58] Cronus1007 commented on #319
@obulat Just a suggestion regarding the labels of new issues to mark their status as ready for work since `awaiting triage` much refers that these issues are still on hold.

[2021-02-15 12:05] neeraj-2 commented on #319
@obulat I would like to work on it.

[2021-02-15 12:08] rohan-goel commented on #317
Sure, working on it.

[2021-02-19 14:22] Cronus1007 commented on #318
@obulat Enhance this point of yours.Unable to predict anything from this. Does it mean CC By converts into CC0

[2021-02-19 21:46] zackkrida commented on #318
@Cronus1007 Olga is talking about testing this toggle:

<img width="464" alt="2021-02-19-149" src="https://user-images.githubusercontent.com/6351754/108564998-14903780-72a8-11eb-863b-b06054520cb2.png">
<img width="457" alt="2021-02-19-148" src="https://user-images.githubusercontent.com/6351754/108565006-1823be80-72a8-11eb-866e-05baad1ebbe7.png">

[2021-02-19 22:07] zackkrida commented on #319
@Cronus1007 @neeraj-2 It was labeled 'awaiting triage' because it _wasn't_ ready for work. Now it is though, so anyone who wants to work on it can!

[2021-02-19 23:44] #319 closed

[2021-02-20 03:57] Cronus1007 commented on #318
@zackkrida One more doubt related to the Attribution Steps.What to type in `Link of Work` and `Link to Creator Profile`. Also I have to check working of these links.
![Screenshot from 2021-02-20 09-25-16](https://user-images.githubusercontent.com/56436023/108583136-92fae100-735d-11eb-87eb-48cab0a535d8.png)

[2021-02-20 04:00] zackkrida commented on #318
@Cronus1007 good questions. you don't need to test if the links work, or even if they're valid urls, those are implementation details best left to the user.

You can use https://creativecommons.org as the url for both in your tests.

[2021-02-21 15:01] fkohrt opened #323 "State of CC0 waiver next button unconditionally retained"
## Description

For an edge case at the CC0 step _Waive Your Copyright_, the checkboxes' states are incongruent with the `disabled` state of the _Next_ button.

## Reproduction

There are two paths to the CC0 license:

- Choosing it directly via _I know the license I need._
- Opting out of attribution via _Anyone can use my work, even without giving me attribution._

Going down one path until _Wai

[2021-02-21 15:03] neeraj-2 commented on #323
I would like to work on it. can I ?

[2021-02-21 15:13] fkohrt commented on #323
I'm not part of the CC community team, but sure, fine by me.

[2021-02-21 15:18] fkohrt commented on #323
But note that the issue is still awaiting triage and therefore generally not considered ready for work (see the [Contribution Guidelines](https://opensource.creativecommons.org/contributing-code/)).

[2021-02-21 15:19] neeraj-2 commented on #323
I think we can have two approaches :
1. Make the Next button disabled again and in this way, user can tick both choices again and thus we can make Next button in enables state. or,
2. Remember the state chosen by the user and this making the Next button in the enabled state.
                        I would prefer the second approach in which we can remember the state chosen by the user. Want your

[2021-02-21 15:20] neeraj-2 commented on #323
Yeah @fkohrt, I would start working only after it would be assigned or tagged as ready for work. Thanks.

[2021-02-22 02:23] zackkrida opened #324 "Small copy changes"
## Problem

Some small modifications to the site copy have been planned:

## Description

- [ ] Change “See the License Deed” for CC0 to “See the CC0 Deed”
- [ ] Change license descriptions so they all match. Right now, CC0 says, “By marking your work…” and the others are written in third person.
- [ ] BY-ND and BY-NC-ND should mirror each other, with the addition of the NC restriction. (I would g

[2021-02-22 02:26] zackkrida opened #325 "Add new "year of creation" attribution detail"
## Description

From Sarah in legal:

[2021-02-22 02:30] zackkrida opened #326 "Feature: Add more context to Creator Name"
## Description

Add the following text near the `Creator Name` field:

## Alternatives

We should figure out how to best add this copy without cluttering the UI too much. Should it be in an info ℹ️ popup/tooltip, a modal, or right inline with the copy? I'm open to suggestions from whoever implements the issue.

[2021-02-22 02:49] Cronus1007 commented on #326
@zackkrida I would like to work upon this issue.

[2021-02-22 02:50] zackkrida commented on #326
Great thanks

[2021-02-22 02:51] Cronus1007 commented on #325
@zackkrida I would like to implement this issue.

[2021-02-22 02:52] Cronus1007 commented on #324
@zackkrida I would like to implement this issue.

[2021-02-22 02:53] zackkrida commented on #324
Thanks @Cronus1007

[2021-02-22 03:27] Yashs911 commented on #324
@zackkrida all the 3 good first issue is assigned to the same person but shouldn't it be one issue at a time so that others do not get alienated from contributing 😄

[2021-02-22 04:48] Cronus1007 commented on #324
@zackkrida Can you plzz elaborate this one. The text is little bit confusing for me.

[2021-02-22 04:53] zackkrida commented on #324
@Yashs911 anyone can contribute at any time, we don't formally assign issues. We welcome contributions from anyone who wants to join in.

That said, if one person gets to something before another there's not much we can do!

[2021-02-22 04:54] zackkrida commented on #324
@Cronus1007 i believe this means that their descriptions should be identical, using the description of by-nd. Then, the by-nc-nd description should have the nc clause added to the end.

[2021-02-22 04:55] Cronus1007 commented on #324
@zackkrida Okk I understood now.

[2021-02-22 06:29] Cronus1007 commented on #326
@zackkrida For this what we can do is above the `AD` step we can waive a `checkbox ` for this and if someone checks it then a new field may appear in the `AD` .

[2021-02-22 06:45] Cronus1007 commented on #325
@zackkrida Let me generate a draft PR now for this. So that you can have a look at the progress.

[2021-02-23 03:02] obulat commented on #326
I would vote for popup/tooltip for this feature. And in the future, if we decide to add context to other steps, we would also use the same popup/tooltip.

[2021-02-24 08:25] zackkrida commented on #326
@Cronus1007 I agree with Olga. For _now_, you could use the existing modal (from when you click on a CONFUSED? NEED HELP? link, for example) that is opened when the user clicks on the info icon (see here: https://cc-vocabulary.netlify.app/?path=/docs/tokens-icons--figma) next to the "Creator Name" field.

[2021-02-24 08:51] #318 closed

[2021-02-25 22:53] zackkrida commented on #323
The bug here is that the 'Waive Your Copyright' checkboxes should _stay checked_ when you go back to the step. Any can start working on that fix!

[2021-02-25 23:41] #325 closed

[2021-02-26 07:19] #317 closed

[2021-02-26 12:08] Cronus1007 opened #332 "Enhancing the CI CD with Netlify Deploy Support"
## Problem and Solution
Currently for the `CI CD` builds the repository is mainly focussed upon the `Github Pages`. We can also provide a support for the `Netlify` Deploys as  done in the `Vocabulary` repository. With netlify deploy the `deploy-preview` will be with great ease.

## Additional context

![Screenshot from 2021-02-26 17-38-24](https://user-images.githubusercontent.com/56436023/1092983

[2021-02-26 19:56] neeraj-2 commented on #323
Thanks, @zackkrida will create a PR soon.

[2021-03-01 14:12] fkohrt opened #333 "Not using predefined XML entity in generated XMP"
## Description

XML has five [predefined entities](https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references#Predefined_entities_in_XML), so `&quot;` should be preferred over `&#34;` when generating the XMP:

https://github.com/creativecommons/chooser/blob/c806ded2d7757d404366019562d6cf538d8fbfb3/src/utils/xmp.js#L29-L32

## Resolution

- [x] I would be interested in resolving

[2021-03-02 13:31] #333 closed

[2021-03-04 18:49] #326 closed

[2021-03-04 21:31] zackkrida commented on #332
Hi Cronus, I don't see a reason to host this on Netlify instead of GitHub pages. GitHub pages meets all of our requirements, and while it would be nice to have preview deploys for pull requests, this project intends to be rather stable, not with frequent updates.

Perhaps we can revisit this in the future but for now I'm going to close it. Thank you!

[2021-03-04 21:31] #332 closed

[2021-03-04 21:55] #323 closed

[2021-03-04 22:27] #314 closed

[2021-03-05 01:07] zackkrida opened #336 "Fix cypress e2e tests to work with new step"
The chooser has a new step and we need to update the e2e suite accordingly. It would be good long term to make he chooser less brittle—it could perhaps be made easier to add/remove/re-order steps.

[2021-03-05 03:34] zackkrida opened #338 "Add feature flag for 'embeddable' version of chooser"
## Problem

Long term the new cc license chooser will be embedded in the cc.org wordpress site. One potential way to do this involves modifying the built HTML file with a matching header and footer to the cc.org site, so it appears to match.

## Description

This PR will add a `VUE_APP_CC_OUTPUT=embedded` environment variable that can be passed to the build script, like below:

[code]

The [`VUE_A

[2021-03-05 03:50] zackkrida commented on #304
@Cronus1007 If you want to work on this, sure! We are always open to improvements to documentation. I'd love to see an example of another project that provides this type of flow chart for front-end components, it's not something I've seen done before but if it's useful to contributors I'm happy to include it.

[2021-03-05 03:51] zackkrida commented on #196
I am closing this issue as it is best to leave the links as-is. Thank you to everyone who put thought into this problem.

[2021-03-05 03:51] #196 closed

[2021-03-05 04:02] Cronus1007 commented on #304
@zackkrida I am thinking to implement this issue with mermaid. Have a look https://mermaid-js.github.io/mermaid/#/n00b-gettingStarted

[2021-03-05 05:19] obulat commented on #304
@Cronus1007, I think that @ashu54-aseem should implement this, as he was the one who proposed it.

[2021-03-05 06:20] Cronus1007 commented on #304
@obulat Okk.

[2021-03-05 15:10] #336 closed

[2021-03-05 15:31] Cronus1007 opened #340 "unnecessary <p> tag in Modals."
## Description

The modal text of `What do the Icons Mean` has un necessary `<p>` tag which should not be present as the text says
`<p>The icons represent key features of the different CC license options:</p>`
rather than `The icons represent key features of the different CC license options`
## Reproduction

1. npm  run serve
2. Click upon `What do the Icons Mean`.
3. See the Modal. The modal is a

[2021-03-05 16:36] #338 closed

[2021-03-05 17:45] zackkrida commented on #340
Great catch @Cronus1007, I was just about to make an issue for this. Please go ahead and fix it.

[2021-03-05 19:34] #340 closed

[2021-03-08 17:59] Cronus1007 opened #342 "Validation Errors in Attribution Details Input text field"
## Problem Description
The `Link To Work` input feild, `Link To Creator Work` and `Year of Creation` input feild accepts any value hich are not in the proper fashion even. So in accordance to these input field setting up of proper Validation of these fields is necessary in my point of view and displaying an error message if something garbage has been sent in these input fields.

## Solution Descri

[2021-03-08 19:17] obulat commented on #342
Form field validation is necessary before the data is sent to the server to prevent attacks such as SQL injection. Chooser does not send any information to the server, so it is not necessary.  These values are only used to create the license code on the 'Mark Your Work' section.
We have already discussed sanitizing user input in #177, so you can find more context there.

[2021-03-08 19:17] #342 closed

[2021-03-09 04:07] zackkrida commented on #342
@Cronus1007 to elaborate, a single user is consuming their own input + output in one sitting, only on the client-side, so we don't need to validate the information at all. What they type is what they'll get.

[2021-03-09 13:43] zackkrida opened #345 "Fix step order"
## Description

At some point, i incorrectly moved the "Confirm that CC licensing is appropriate" order to the _second_ step—it should be second to last. Please keep in mind that e2e test instructions will need to be adjusted.

[2021-03-09 13:48] zackkrida commented on #345
@neeraj-2 Please!

[2021-03-09 19:13] ashu54-aseem commented on #304
@obulat Is the uploaded version fine, or are some modifications to be made before I raise a PR?

[2021-03-11 11:35] neeraj-2 commented on #345
@zackkrida If I am not wrong we want the "Confirm that CC licensing is appropriate" step after the "Attribution Details" step, right??

[2021-05-13 16:23] sarahpearson commented on #345
@neeraj-2 Good question. I think in order to match what we do for CC0, that confirmation step should go *before* Attribution Details but after the other steps of choosing a license.

[2021-06-02 09:12] brylie opened #351 "Inconsistent code formatting througout project"
## Description
There are many inconsistencies in the code formatting throughout the project.

## Reproduction

1. clone the code
2. run `npx prettier --check "**/*.js"`

## Expectation
We should adhere to Prettier guidelines, since the Prettier package is listed as a dev dependency:
https://github.com/creativecommons/chooser/blob/99d4cccc7a9788584551d74a83613970038e9d8c/package.json#L59

Many code

[2021-06-03 09:36] brylie opened #353 "Switch to lockfile format v2"
As of `npm` 7.x, [a new lockfile format. version 2, was introduced](https://nitayneeman.com/posts/catching-up-with-package-lockfile-changes-in-npm-v7/). The new lockfile format is backwards compatible with the format used by npm 6.x.

According to the [npm download statistics](https://www.npmjs.com/package/npm?activeTab=versions), version 7.x has surpassed 6.x in monthly downloads, but the two are

[2021-06-03 09:52] brylie opened #355 "Upgrade project dependencies"
When installing the project via `npm install` there are several notices for outdated/insecure dependencies (some of which only affect the development environment.)

## Reproduction

1. clone the project
2. run `npm install`
3. See warnings

## Expectation

The project should strive to keep dependencies up-to-date. In effect, this should probably be routine, but is worth earmarking as an issue for

[2021-06-03 09:59] brylie opened #356 "Upgrade project to Vue 3.x"
Vue 3.0 was [released in September 2020](https://github.com/vuejs/vue-next/releases/tag/v3.0.0). However, this project is still using Vue 2.x.

Decide when it is timely to upgrade this project to Vue 3.x

## Description
One of the design constraints of Vue 3.x was to preserve backwards-compatibility with Vue 2.x projects. This would ideally mean very little would need to change when the Chooser pr

[2021-06-03 10:54] obulat commented on #356
Very exciting change! :)

[2021-06-03 11:14] brylie opened #357 "Revisit data model (consider modelling around the permissions instead of license clauses)"
## Problem
The current data model and subsequent component architecture are oriented around the license attributes (SA, NC, ND), which are more closely related to rendering logic than being intrinsic to the license.

https://github.com/creativecommons/chooser/blob/99d4cccc7a9788584551d74a83613970038e9d8c/src/utils/licenses.js#L7-L20

This leads to slightly awkward semantics and boolean conditions

[2021-06-03 13:26] #351 closed

[2021-06-08 15:30] #345 closed

[2021-09-06 17:10] sadn1ck commented on #356
(new here, 👋🏽)So, I was having a look at this locally, and I might be wrong, but wouldn't Vocabulary also need to be updated to vue 3 for chooser to be able to use the components from there? (v-radio, v-button, etc)

PS: I was able to get the build running on vue 3 but there were a lot of errors with component resolution, v-button css issues and i18n issues (vue-i18n v8 is for vue2 and v9 is for v

[2021-09-07 06:39] brylie opened #360 "Upgrade project to Vue 3"
Vue 3.0 was [released in September 2020](https://github.com/vuejs/vue-next/releases/tag/v3.0.0). However, this project is still using Vue 2.x.

Decide when it is time to upgrade this project to Vue 3.x

## Description
One of the design constraints of Vue 3.x was to preserve backward compatibility with Vue 2.x projects. This would ideally mean very little would need to change when the Chooser proje

[2021-09-07 06:42] brylie commented on #356
@sadn1ck good point! :smiley:

I've created an upstream issue to track the upgrade to Vue 3.x, which will enable this issue to move forward.

https://github.com/creativecommons/chooser/issues/360

By the way, are you available to help with some Vue development? We have a [pull request underway to simplify the repository structure](https://github.com/creativecommons/vocabulary/pull/933) of the CC V

[2021-09-07 07:28] sadn1ck commented on #356
Yep @brylie! I'd love to help out. I'm not familiar with storybook right now, so I'll have a look and start working on it as soon as I can.

[2021-09-07 08:21] brylie commented on #356
OK, great! I think there is a basic pattern to follow to fix the remaining components. I will @ mention you on the related thread so we can pick up the conversation there. For what it's worth, I think we should finish the "simplify the project structure using Vue CLI" task before considering the Vue 3 upgrade. What do you think?

[2021-09-07 08:44] sadn1ck commented on #356
Yep! Let's complete that first. That way we can focus on one thing at a time.

[2021-09-08 04:43] Cronus1007 commented on #360
@brylie Would love to be a part of the transition from Vue 2.0 to Vue 3.0.

[2021-09-08 07:36] brylie commented on #360
@Cronus1007, would you mind if I assign you to this issue? If you would like to give it a try, go ahead and create a pull request with your Vue 3 changes, even if they are in draft form. That way, we can discuss and test the changes collaboratively.

[2021-09-08 15:53] brylie commented on #360
My bad. I opened a duplicate issue of #356 in this repository. My intention was to open the issue in the CC Vocabulary project, which I have now done. I'm closing this issue as a duplicate.

@Cronus1007 would you be interested in helping with the CC Vocabulary Vue 3 migration?

[2021-09-08 15:53] #360 closed

[2021-09-08 18:26] Cronus1007 commented on #360
@brylie  Sure

[2021-09-09 09:32] brylie commented on #304
It seems that PR #346 was more focused on the development workflow, whereas this feature request is more concerned with component state as the user answers the chooser questions. Is my understanding correct? If so, I propose we close PR #345 and go forward with a component-state diagram, of sorts.

[2021-12-10 12:26] brylie commented on #357
Closing as not in project scope.

[2021-12-10 12:26] #357 closed

[2021-12-20 15:52] brylie opened #366 "Publish initial release of Chooser project"
## Problem
Now that the Chooser project is fairly stable, we can publish an initial release. Publishing a release should make it easier to integrate the Chooser into downstream projects.

## Description
Publish the `0.1.0` release for the Chooser project.

## Further context

We want to publish the Chooser project as a library.

- https://cli.vuejs.org/guide/build-targets.html#library

[2021-12-21 06:59] brylie opened #367 "Replace `node-sass` with `sass`"
The `node-sass` package is marked as deprecated and should be replaced by `sass`.

## Task

- [ ] replace `node-sass` dependency with `sass`

## Resources

- https://www.npmjs.com/package/sass

[2021-12-22 07:02] brylie opened #372 "Remove Hotjar-related packages and code"
We currently include two packages related to Hotjar in `package.json` and some analytics code throughout our components. However, the Hotjar code may no longer be necessary since we are not actively using Hotjar analytics for any internal measurements.

## Task

- [ ] remove Hotjar/analytics code from Vue components
- [ ] remove Hotjar packages from `package.json` including `vue-analytics`

[2021-12-22 18:19] brylie commented on #366
@shailee-m, would you like to try and build the Chooser project as a library?

[2021-12-23 06:14] shailee-m commented on #366
@brylie Yes, absolutely

[2021-12-23 09:04] brylie commented on #366
OK, thanks. I'll assign you here. Let me know how the initial experiment with building the Chooser library goes. Then, we will test out using the Chooser library in a Gutenberg page.

[2021-12-23 23:01] #367 closed

[2021-12-25 12:53] shailee-m commented on #366
@brylie there are some changes I would need to make to the repo's main.js file in order to wrap it into a web component. Should I update the code directly or should I create env-var. And depending on that environment variable value it will either mount for serving as a web app or as a web component??

[2022-01-04 12:37] clasick commented on #372
@brylie Thanks for the clarification!

Yup, I've started on a fix for this. ✌️

[2022-01-05 10:13] brylie commented on #372
When running `npm install`, I see the following warning:

I think we should just remove the analytics code entirely, and not use `vue-gtag` as suggested. Just adding a note here.

[2022-01-10 08:23] brylie opened #373 "`npm install` error building `node-sass`"
## Description

When installing the project dependencies with `npm install` installation process fails with a `node-sass` build error.

We need to deprecate the `node-sass` package and replace it with `sass`.

## Reproduction

1. clone the repository
2. run `npm install`
3. See error.

## Expectation

The project should build successfully.

## Details
<details>
<summary>Full error trace</summary>

[2022-01-10 08:40] sadn1ck commented on #373
From a preliminary investigation I think I have found the issue:

- node-sass `^5.0.0` is required by `@creativecommons/vue-vocabulary`
- building `node-sass` using node 16 is supported only for node-sass versions 6.0+ and above

- essentially, node 16 can only build node-sass 6.0+, details [here, version support policy](https://github.com/sass/node-sass#node-version-support-policy), and since our

[2022-01-11 17:11] sadn1ck commented on #373
I don't think this can be resolved at the moment since `node-sass` here is a dependency of a dependency (vue-vocabulary). To remove that, we need a new release of vue-vocabulary which doesnt depend on `node-sass`, and only after that we can upgrade the package here to prevent this issue.

This is what I concluded after yesterday, feel free to correct me if I got something wrong.

[2022-01-11 18:35] brylie commented on #373
This will be resolved when we publish the `vocabulary-components` package and change the `vue-vocabulary` dependency in Chooser to `vocabulary-components`.

[2022-01-14 07:14] #373 closed

[2022-01-14 07:39] brylie opened #374 "Use new Vocabulary styles and components as dependencies"
This project currently depends on `vocabulary` and `vue-vocabulary` projects, which are somewhat unhealthy:

https://github.com/creativecommons/chooser/blob/56c8f283e6ef8dcbc70ededdc758942e3bc614a3/package.json#L22-L23

We have "rebooted" the Vocabulary project as separate projects with new names and some maintenance improvements.

Now, we can change our dependency definition to use the new packag

[2022-01-17 10:15] shailee-m opened #377 "[Feature] Figure out where the assets are being used"
## Description
Find the uses of assets and  `chooser/src/assets/` and also from vocabulary/fonts. Is there a way to decouple them?

## Implementation
- [X] I would be interested in implementing this feature.

CC: @brylie

[2022-01-17 10:16] shailee-m commented on #377
@brylie I will inspect the usage and post the updates here.

[2022-01-17 11:05] brylie commented on #377
For what it's worth, we are likely to exclude the license images from the `vocabulary-fonts` package, since they are not directly related to fonts.

https://github.com/creativecommons/vocabulary-fonts/pull/2

[2022-01-18 14:07] brylie opened #378 "Use FontAwesome package directly rather than getting icons from Vocabulary"
Several FontAwesome icons have been included in the Vocabulary project without attribution. We are in the process of removing the FontAwesome icons from Vocabulary and would like to use the Font Awesome project directly rather than duplicating the fonts in our own source code.

## Task

- [ ] determine where Chooser uses Font Awesome icons, if anywhere
- [ ] replace Vocabulary with Font Awesome as

[2022-01-18 14:12] brylie commented on #378
Perhaps we can consider swapping out FontAwesome with a fully open-source icon library, such as [Material Icons](https://fonts.google.com/icons?selected=Material+Icons).

[2022-01-18 14:26] MuluhGodson commented on #378
I would love to be assigned here.

[2022-01-18 17:38] brylie commented on #374
Nothing else. We can indicate in #371 that it closes this issue.

[2022-01-18 19:06] MuluhGodson opened #380 "[Bug] Deprecation Warnings when compiling the Build Version of Chooser"
## Description
When building Chooser, there are several deprecation warnings related to the SASS files imported via Bulma and Vocabulary.

## Reproduction

1. npm install
2. npm run build
3. See error.

## Expectation
Should build without warnings

## Additional context
- [Breaking changes with Sass Slash-Div](https://sass-lang.com/documentation/breaking-changes/slash-div)

While we may update the

[2022-01-19 08:36] #378 closed

[2022-01-19 09:05] brylie commented on #380
Added this to the post-launch milestone since it doesn't currently block development.

[2022-01-20 14:08] brylie opened #381 "Use `cc-assets` package for CC image assets"
This project uses several Creative Commons image assets, such as license badges and icons. Currently, we are importing those image assets from the Vocabulary project, which has incorrect license terms for our CC Assets.

We have published a new [NPM package called `cc-assets`](https://www.npmjs.com/package/@creativecommons/cc-assets) containing the Creative Commons logos, icons, and license badges

[2022-01-20 14:54] MuluhGodson commented on #381
Hello @brylie
Can I be assigned here?

[2022-01-20 14:57] brylie commented on #381
@MuluhGodson you're assigned :-)

[2022-01-23 16:16] #381 closed

[2022-01-24 17:17] brylie opened #383 "Write GSoC project description for Chooser"
The GSoC application deadline is Feb. 7th. We want to apply for GSoC to improve the usefulness of the Chooser project for third-party sites and projects.

[2022-01-24 18:00] brylie commented on #355
Now that the Chooser dependencies are cleaned up, we should have more success with this issue.

[2022-01-25 09:18] brylie opened #384 "Default build output without header and footer"
The current default build output contains a header and footer. Rather the default should only include the Chooser component, without surrounding page elements, since the Chooser is intended to be embedded into other pages/projects.

## Task

- [ ] change the default build output so it doesn't contain a header, breadcrumbs, or footer
- [ ] the default output should only include Chooser sub-componen

[2022-01-25 09:22] brylie opened #385 "Consider deprecating stand-alone build"
The project currently includes page elements, such as a header and footer, that are intended for a stand-alone build. Since we are moving towards publishing Chooser as a web component, the intention of the project is for Chooser to be embedded in other pages/projects by default. Hence, there may no longer be a need for a stand-alone build.

Note: This task is contingent on our ability to embed the

[2022-01-26 08:18] #366 closed

[2022-01-26 08:18] #374 closed

[2022-01-26 08:23] brylie opened #386 "Audit code and reduce build size"
While building the Chooser as a component, there are several asset size limit warnings, such as the following:

## Task

- [ ] audit the chooser codebase to look for any code or dependencies that can be removed to reduce the bundle size
- [ ] determine if an alternative project configuration, such as tree-shaking, might be implemented to reduce bundle size
- [ ] discuss findings to determine which

[2022-01-26 08:25] brylie commented on #384
This issue has been partially fixed by modifying the `build-component` command in `package.json` to default to `embedded` mode:

https://github.com/creativecommons/chooser/blob/412c9a053451846c10414828ad7b9835facea2e4/package.json#L18

However, ideally, we wouldn't need the embedded flag.

[2022-01-26 08:26] brylie commented on #385
This issue may resolve #384

[2022-01-26 08:28] brylie commented on #372
@clasick, any update on this task?

[2022-01-26 08:33] brylie commented on #377
@shailee-m, should we perhaps close this issue?

[2022-01-26 09:23] brylie opened #387 "Remove unnecessary components from "embedded" build"
The "embedded" build output contains some components that may be undesirable since the intention is to embed the Chooser in an existing page/project. For example, the breadcrumbs and introductory heading/text are seen below.

![image](https://user-images.githubusercontent.com/17307/151136486-1b328b01-4295-4fdf-bce8-d22c3c5216d5.png)

## Task

- [x] determine which sub-components should be included

[2022-01-27 16:21] brylie opened #389 "Add a (post-choice) survey to determine who is using Chooser and for what purposes"
TODO: add a description

[2022-01-28 11:17] MuluhGodson commented on #387
As for what should be removed, I think in the screenshot, the highlighted elements with the faint yellow overlay should be removed in the `embedded production build`, as well as the header and footer component.

[2022-01-29 07:26] shailee-m commented on #377
@brylie Yes, you're right.

[2022-01-29 07:26] #377 closed

[2022-01-29 07:28] #387 closed

[2022-01-30 21:23] yaya-usman commented on #372
@brylie Hi, i think i should  give this a try, can i get assigned this?

[2022-01-31 08:10] brylie commented on #372
Sure thing, @yaya-usman. I'll assign you.

[2022-01-31 08:21] yaya-usman commented on #372
Thanks

[2022-01-31 08:39] #383 closed

[2022-01-31 10:16] brylie commented on #384
@shailee-m, can we close this issue?

[2022-01-31 10:34] brylie commented on #353
Closing this as complete.

[2022-01-31 10:34] #353 closed

[2022-01-31 10:35] brylie commented on #380
@MuluhGodson, let's see if this issue is resolved by #355

[2022-01-31 10:59] shailee-m commented on #384
@brylie Yes

[2022-01-31 15:44] shailee-m commented on #384
@brylie I do not have the access to close this issue

[2022-01-31 16:24] #355 closed

[2022-01-31 16:24] #380 closed

[2022-01-31 16:30] #384 closed

[2022-02-01 15:12] brylie opened #398 "Ensure we remove all analytics code, such as Google Analytics"
We want to remove the analytics code so the Chooser can be used in other projects without any telemetry. We began the work with PR #391  but may have overlooked some Google Analytics code.

## Task

- [x] remove all analytics related code, such as the following

https://github.com/creativecommons/chooser/blob/00099ae8103a5674353e1e4eadb10ec2a0876a06/src/App.vue#L121-L124

[2022-02-01 15:21] MuluhGodson opened #399 "[Bug] LicenseDetails not rendered"
## Description
Potentially, when a user selects a license type on chooser or goes through the steps, there is a card on the right that displays the details of that specific license combination. Currently, this card is not displayed.

## Reproduction

1. `npm install`
2. `npm run build-component`
3. open `demo.html` and go through the steps
4. See error. [LicenseDetails which should be displayed on

[2022-02-01 16:16] #398 closed

[2022-02-01 16:16] #399 closed

[2022-02-01 16:28] MuluhGodson opened #401 "[Bug] All steps appear to have been completed when chooser is launched"
## Description
When using chooser, the user is required to proceed procedurally completing each step before moving to the next.
To indicate that a step has been completed, the number of the step is filled with green colour, else it retains its grey colour.
Presently when the chooser is started, all the steps appear to have been completed: ie, all the step numbers are green-filled.

## Reproduction

[2022-02-01 16:37] MuluhGodson opened #402 "[Bug] `Copy` button not working"
## Description
The `Copy` button at the end which lets the user copy the license text does not copy the text. The button label changes correctly, but when pasting, the data seems to not have been copied.

## Reproduction

1. launch chooser
2. go through steps
3. click on `Copy` button to copy the license text and paste somewhere
4. See error. [What seems to have copied is not pasted]

## Expectati

[2022-02-02 10:08] #401 closed

[2022-02-02 13:32] MuluhGodson commented on #402
I just did a fresh clone/install. cleared my browser cache and still had the same issue. Also tried with Firefox and experienced it.

[2022-02-02 23:27] MuluhGodson commented on #372
Good Housekeeping
Closed by #391

[2022-02-02 23:27] #372 closed

[2022-02-09 01:48] MuluhGodson commented on #402
Closing this.
Running `npm run serve` to serve the project runs perfectly without this anomaly.
I was serving the project from the generated HTML file using VS Code's liveserver which is why some functions didn't work as expected.

[2022-02-09 01:48] #402 closed

[2022-02-09 09:27] brylie commented on #402
Good point. I should have mentioned how I was running it in my local browser. I believe I was using `python -m http.server 8000` in the `dist` folder to serve the `example.html`.

[2022-02-19 13:15] MuluhGodson opened #408 "[Bug] Issue with localization package"
## Description
Opening the [License Page](https://stage.creativecommons.org/?page_id=330) on the staging environment for `project_creativecommons.org` displays a blank page with the console error:
[code]
I cloned the latest version of this repo and got the same error on my local dev environment. However, `npm run serve` works and displays correctly.

cc @brylie

## Reproduction

1. `npm install`
2

[2022-02-21 08:13] brylie commented on #408
Is the `i18n` package missing? Perhaps it is looking for a missing locale file?

[2022-02-22 16:28] MuluhGodson commented on #408
@brylie
Looked more into this issue. It appears our code is correct and works as expected. The localization packages also have no issues.
The reason for this error is the version of `Vue` imported by the CDN link.
We currently are using
[code]
which makes available Vue 3 instead of Vue 2.

Changing this link to
[code]
solved the issue. So this issue is really a none-issue. False flag.

[2022-02-22 16:28] #408 closed

[2022-02-23 07:17] brylie commented on #408
@MuluhGodson, we may need to update our developer documentation in the Chooser package to include the correct example code?

[2022-02-23 07:24] MuluhGodson opened #410 "[Bug] Update documentation to use Vue 2 CDN link"
## Description
The `README.md` documentation currently contains example snippets with a Vue CDN link that makes available Vue 3 instead of Vue 2 causing runtime errors.

## Resolution

- [x] I would be interested in resolving this bug.

[2022-02-23 07:41] MuluhGodson commented on #410
Closing as documentation is already updated.

[2022-02-23 07:41] #410 closed

[2022-02-23 08:40] brylie commented on #408
I went ahead and updated the README with a Vue 2 code example.

[2022-05-11 17:14] kraniet888 opened #417 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2022-05-12 19:53] TimidRobot opened #418 "[Bug] Remove hardcoded CloudFront CDN (use default Cloudflare CDN)"
## Description
Remove hardcoded CloudFront CDN (use default Cloudflare CDN)

## Reproduction
https://github.com/creativecommons/chooser/blob/80ceb9d2a36a1a1609c847c43372194c7799c255/public/index.html#L9-L10

## Expectation
1. Update source
[code]
2. Deploy new release (not required for issue resolution)

## Additional context
- https://github.com/creativecommons/tech-support/issues/183 (private re

[2022-07-23 05:12] sozidateli opened #424 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2022-07-23 05:13] #424 closed

[2022-09-05 10:58] DanielGraham123 commented on #386
Hello @brylie, I'm working on this issue...

[2022-09-11 17:09] MdSahil-oss commented on #385
@TimidRobot is this issue still to be resolved, If so then I would like to work on this.

[2022-10-12 09:18] PeaceOffiong commented on #386
I will be working on this issue

[2022-10-13 10:46] JeffyDave commented on #386
Hi @PeaceOffiong , I would love to assist you in working on this if you do not mind.